@{var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Study spiritual text from all of the world." />
      <meta name="author" content="SeekDeepWithin.com" />
      <meta name="copyright" content="SeekDeepWithin Copyright (c) @DateTime.Now.Year" />
      <title>@ViewBag.Title - Seek Deep Within</title>
      <link href="/Images/sdw_16.png" rel="shortcut icon" type="image/x-icon" />
      @RenderSection("styles", false)
      @Styles.Render("~/Content/css")
      @Scripts.Render("~/bundles/modernizr")
      <link href="http://fonts.googleapis.com/css?family=Merriweather:400italic,400,900,300italic,300,700,700italic,900italic" rel="stylesheet" type="text/css">
   </head>
<body class="cbp-spmenu-push">

   <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="panel_left">
   </div>
   <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="panel_right">
      <div class="sdw-panel">
         <div class="title">Menu</div>
         <a class="sdw-button white expand tLeft" href="@Url.Action("Index", "Book", null, scheme)"><i class="icon-book mRight mLeft"></i> Books</a>
         <a class="sdw-button white expand tLeft" href="@Url.Action("Index", "Glossary", null, scheme)"><i class="icon-list mRight mLeft"></i> Glossary</a>
         <a class="sdw-button white expand tLeft" href="@Url.Action("Index", "Search", null, scheme)"><i class="icon-search mRight mLeft"></i> Search</a>
         <a class="sdw-button white expand tLeft" href="@Url.Action("About", "Home", null, scheme)"><i class="icon-question-sign mRight mLeft"></i> About</a>
         @if (Request.IsAuthenticated) {
            <a class="sdw-button white expand tLeft" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-exit mRight mLeft"></i> Log out</a>
            <a class="sdw-button white expand tLeft" href="@Url.Action("Manage", "Account", null, scheme)"><i class="icon-user mRight mLeft"></i> @(User.Identity.Name)</a>
         } else {
            var returnUrl = Request.Url != null ? Request.Url.ToString () : string.Empty;
            <a class="sdw-button white expand tLeft" href="@Url.Action("Register", "Account", null, scheme)"><i class="icon-ok-sign mRight mLeft"></i> Register</a>
            <a class="sdw-button white expand tLeft" href="@Url.Action("Login", "Account", new { returnUrl }, scheme)"><i class="icon-enter mRight mLeft"></i> Log in</a>
         }
      </div>
   </div>
   <div class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="panel_top"></div>
   <div class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="panel_bottom"></div>
   <nav class="sdw-top-menu" id="siteNavBar">
      <div class="sdw-menu-button">
         <a href="javascript:void(0)" onclick="panels_showLeft();"><i class="icon-menu"></i></a>
      </div>
      <div class="title">
         <h5>
            <a href="@Url.Action("Index", "Home", null, scheme)">
               <img src="~/Images/sdw_16_w.png" class="hide-for-small" alt="Seek Deep Within" /> Seek Deep Within
            </a>
         </h5>
      </div>
      <div class="sdw-menu-buttons">
         @if (Request.IsAuthenticated) {
            <a href="@Url.Action("Manage", "Account", null, scheme)"><i class="icon-user"></i> @User.Identity.Name</a>
         } else {
            var returnUrl = Request.Url != null ? Request.Url.ToString() : string.Empty;
            <a href="@Url.Action("Register", "Account", null, scheme)"><i class="icon-ok-sign"></i> Register</a>
            <a href="@Url.Action("Login", "Account", new { returnUrl }, scheme)"><i class="icon-enter"></i> Log in</a>
         }
         <a href="@Url.Action("Index", "Book", null, scheme)"><i class="icon-book"></i> Books</a>
         <a href="@Url.Action("Index", "Glossary", null, scheme)"><i class="icon-list"></i> Glossary</a>
         <a href="@Url.Action("Index", "Search", null, scheme)"><i class="icon-search"></i> Search</a>
         <a href="@Url.Action("About", "Home", null, scheme)"><i class="icon-question-sign"></i> About</a>
         @if (Request.IsAuthenticated) {
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-exit"></i> Log out</a>
         }
      </div>
      <div class="sdw-menu-button" style="float: right;">
         <a href="javascript:void(0)" onclick="panels_showRight();"><i class="icon-menu"></i></a>
      </div>
   </nav>
   <span class="panels_overlay"></span>
   <div style="background-color: white;" class="pBottom">
      @RenderSection("featured", false)
      <div class="row">
         <div class="small-12 large-12 columns">
            @RenderBody()
            @if (Request.IsAuthenticated) {
                  <!-- LOG OUT FORM-->
               <div style="display: none;">
                  @using (Html.BeginForm ("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                     @Html.AntiForgeryToken()
                  }
               </div>
            }
         </div>
      </div>
   </div>
   <!-- FOOTER -->
   <div class="sdw-footer">
      <div class="row">
         <div class="large-6 columns">
            <p>&copy; @DateTime.Now.Year - Seek Deep Within</p>
         </div>
      </div>
   </div>
   @Scripts.Render("~/bundles/jquery")
   @RenderSection("scripts", false)
</body>

</html>
