@{var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Study spiritual text from all of the world." />
      <meta name="author" content="SeekDeepWithin.com" />
      <meta name="copyright" content="SeekDeepWithin Copyright (c) @DateTime.Now.Year" />
      <title>Seek Deep Within</title>
      <link href="/Images/icon_16.png" rel="shortcut icon" type="image/x-icon" />
      @(RenderSection ("styles", false))
      @(Styles.Render ("~/Content/css"))
      <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,300italic" rel="stylesheet" type="text/css">
   </head>
<body>
   <div class="stick-container">
      <div class="sticky is-stuck stick-container">
         <div class="loader">LOADING...</div>
         <div class="title-bar" data-responsive-toggle="sdw-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle style="background-color: transparent;border: 0;"></button>
            <div class="title-bar-title">Menu</div>
         </div>

         <div class="top-bar" id="sdw-menu">
            <div class="top-bar-left">
               <ul class="menu">
                  <li><img src="~/Images/icon_24.png" alt="Seek Deep Within" /></li>
                  <li class="menu-text"><a href="@Url.Action("Index", "Home", null, scheme)" class="title">SEEK DEEP WITHIN</a></li>
                  @if (Request.IsAuthenticated) {
                     <li><a href="@Url.Action("Manage", "Account", null, scheme)" title="Manage Account"><i class="icon-user"></i></a></li>
                  } else {
                     var returnUrl = Request.Url != null ? Request.Url.ToString () : string.Empty;
                     <li><a href="@Url.Action("Register", "Account", null, scheme)" title="Register"><i class="icon-circlepencil"></i></a></li>
                     <li><a href="@Url.Action("Login", "Account", new { returnUrl }, scheme)" title="Login"><i class="icon-enter"></i></a></li>
                  }
                  <li><a href="@Url.Action("About", "Home", null, scheme)" title="About"><i class="icon-question-sign"></i></a></li>
               </ul>
            </div>
            <div class="top-bar-right">
               <ul class="menu">
                  <li class="small-8"><input type="search" placeholder="Search" id="searchText"></li>
                  <li><button type="button" class="sdw-button alt tiny" onclick="sdw.search();">Search</button></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="pBottom">
      @(RenderSection ("featured", false))
      <div class="row column">
         @(RenderBody ())
      </div>
   </div>
   <!-- FOOTER -->
   <div class="sdw-footer">
      <div class="row">
         <div class="large-6 columns">
            <p>&copy; @DateTime.Now.Year - Seek Deep Within</p>
         </div>
      </div>
   </div>
   @(Scripts.Render ("~/bundles/jquery"))
   @(RenderSection ("scripts", false))
</body>

</html>
