@model SeekDeepWithin.Models.GlossaryItemViewModel

@{
    ViewBag.Title = "Create Item";
}

<h2>Create new item for @Model.Term.Name</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Item</legend>
       
       @Html.HiddenFor(model => model.Term.Id)
       @Html.HiddenFor(model => model.Term.Name)
       <div class="row">
          <div class="small-12 large-12 columns">
             @Html.LabelFor(model => model.SourceName)
             @Html.EditorFor(model => model.SourceName)
             @Html.ValidationMessageFor(model => model.SourceName)
          </div>
       </div>

       <div class="row">
          <div class="small-12 large-12 columns">
             @Html.LabelFor(model => model.SourceUrl)
             @Html.EditorFor(model => model.SourceUrl)
             @Html.ValidationMessageFor(model => model.SourceUrl)
          </div>
       </div>

        <input type="submit" value="Create" class="button"/> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
