@model SeekDeepWithin.Models.GlossaryItemViewModel

@{
    ViewBag.Title = "Create Item";
}

<h3><small>new item</small> @Model.Term.Name</h3>

<div class="row">
   <div class="small-12 large-12 columns">
      @using (Html.BeginForm()) {
         @Html.AntiForgeryToken()
         <fieldset>
            <legend>New Item</legend>
       
            <input type="hidden" id="termId" name="termId" value="@Model.Term.Id" />
            <div class="row">
               <div class="small-12 columns">
                  @Html.DropDownList("sourceId", ViewBag.Sources as SelectList)
               </div>
            </div>

            <div class="row">
               <div class="small-4 columns">
                  <input type="submit" value="Create" class="button expand" />
               </div>
               <div class="small-4 columns">
                  <a href="@Url.Action("Create", "Source", new {termId = Model.Term.Id}, Request.Url.Scheme)" class="button success expand">
                     <i class="icon-plus"></i> New Source
                  </a>
               </div>
               <div class="small-4 columns">
                  <a href="@TempData["RefUrl"]" class="button secondary expand">Cancel</a>
               </div>
            </div>
         </fieldset>
      }
   </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
