@model SeekDeepWithin.Models.GlossaryEntryViewModel

@{
    ViewBag.Title = "Create Entry";
}

<h2>Create new entry for @Model.TermName</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Entry</legend>
       
       @Html.HiddenFor(model => model.TermId)
       <div class="row">
          <div class="small-12 large-12 columns">
             @Html.LabelFor(model => model.Text)
             @Html.TextAreaFor(model => model.Text, 10, 80, null)
             @Html.ValidationMessageFor(model => model.Text)
          </div>
       </div>

        <input type="submit" value="Create" class="button"/> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
