@model SeekDeepWithin.Models.GlossaryTermViewModel

@{
    ViewBag.Title = "Editing "+ Model.Name;
}

<h3><small>editing</small> @Model.Name <small>@Html.ActionLink("view term", "Term", new { id = Model.Id })</small></h3>
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="TermId" name="TermId" value="@Model.Id" />
<div class="row">
   <div class="small-12 large-6 columns">
      @using (Html.BeginForm()) {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)

         <fieldset>
            <legend>Term Details</legend>
       
            <div class="row">
               <div class="small-12 large-12 columns">
                  @Html.LabelFor(model => model.Name)
                  @Html.EditorFor(model => model.Name)
                  @Html.ValidationMessageFor(model => model.Name)
               </div>
            </div>

            <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
         </fieldset>
      }
   </div>
   <div class="small-12 large-6 columns">
         <fieldset>
            <legend>
         Tags 
         @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
            var returnUrl = Request.Url != null ? Request.Url.ToString () : string.Empty;
            <span style="font-size: small">
               @Html.ActionLink("new tag", "Create", "Tag", new {returnUrl}, null)
            </span>
         }
      </legend>
      @foreach (var tag in Model.Tags) {
         var id = tag.ItemId;
         <div class="row" id="tag_@id">
            <div class="small-8 large-8 columns">
               @Html.ActionLink(tag.Name, "Details", "Tag", new { id = tag.Id }, null)
            </div>
            <div class="small-4 large-4 columns text-center">
               <a href="javascript:void(0);" onclick="RemoveTag(@id, @Model.Id, 'Glossary');" title="Remove tag">
                  <i class="icon-remove-circle" style="color:red;"></i>
               </a>
            </div>
         </div>
      }
      <div class="row">
         <div class="small-8 large-8 columns">
            @Html.DropDownList("tagId", ViewBag.Tags as SelectList)
         </div>
         <div class="small-4 large-4 columns">
            <button class="button success tiny" onclick="AddTag(@Model.Id, 'Glossary');">Add</button>
         </div>
      </div>
            </fieldset>
   </div>
</div>

<div class="row">
   <div class="small-12 large-6 columns">
      <h4>New See Also</h4>
      @Html.Partial("_LinkForm", new SeekDeepWithin.Models.EditLinkViewModel { Type = "SeeAlso" })
   </div>
   <div class="small-12 large-6 columns">
      <h4>New Amazon Item</h4>
   </div>
</div>

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/sdw.editTerm")
}
