@model SeekDeepWithin.Models.GlossaryEntryViewModel

@{
    ViewBag.Title = "Edit Entry";
}

<h3>Editing Entry for '@Model.TermName'</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Entry Text</legend>

        @Html.HiddenFor(model => model.Id)
       <div class="row">
          <div class="small-12 large-8 columns">
             @Html.TextAreaFor(model => model.Text, 8, 80, null)
             @Html.ValidationMessageFor(model => model.Text)
          </div>
       </div>

       <div class="row">
          <div class="small-12 large-6 columns">
             @Html.LabelFor(model => model.SourceName)
             @Html.EditorFor(model => model.SourceName)
             @Html.ValidationMessageFor(model => model.SourceName)
          </div>
       </div>

       <div class="row">
          <div class="small-12 large-6 columns">
             @Html.LabelFor(model => model.SourceUrl)
             @Html.EditorFor(model => model.SourceUrl)
             @Html.ValidationMessageFor(model => model.SourceUrl)
          </div>
       </div>

        <input type="submit" value="Save" class="button"/> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
