@model SeekDeepWithin.Models.GlossaryTermViewModel

@{
    ViewBag.Title = Model.Name;
}
<h3>@Model.Name</h3>
<div class="row">
   <div class="small-12 columns">
      @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
         <a href="@Url.Action("EditTerm", "Glossary", new {id = Model.Id}, Request.Url.Scheme)" class="button tiny">
            <i class="icon-edit"></i> edit term
         </a>
      }
      @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
         <a href="@Url.Action("CreateItem", "Glossary", new {termId = Model.Id}, Request.Url.Scheme)" class="button tiny success">
            <i class="icon-plus"></i> add item
         </a>
      }
   </div>
</div>

<div class="row">
   <div class="small-12 large-9 columns">
      @if (Model.Items.Count == 0) {
         <div class="alert-box info"><em>No information has been added for this term! Sorry!</em></div>
      }
      @foreach (var item in Model.Items) {
         <div id="item_@item.Id">
            <div class="row">
               <div class="small-12 large-12 columns">
                  <div class="alert-box secondary">
                     @if (!string.IsNullOrWhiteSpace (item.SourceUrl)) {
                        <a href="@item.SourceUrl" target="_blank">@item.SourceName</a>
                     }
                  </div>
               </div>
            </div>
            @foreach (var entry in item.Entries) {
               @Html.Partial("_GlossaryEntry", entry)
            }
         </div>
         if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
            <div class="row">
               <div class="small-12 large-12 columns">
                  <div class="alert-box secondary">
                     <a href="@Url.Action("Edit", "Glossary", new {id = item.Id}, Request.Url.Scheme)">edit</a>
                  </div>
               </div>
            </div>
         }
      }
   </div>
   <div class="small-12 large-3 columns">
      @if (Model.Tags.Count > 0) {
         <div class="row">
            <div class="small-12 large-12 columns">
               <ul class="pricing-table">
                  <li class="title">Tags</li>
                  @foreach(var tag in Model.Tags) {
                     <li class="bullet-item">
                        <a href="@Url.Action("Details", "Tag", new { id = tag.Id }, Request.Url.Scheme)">@tag.Name</a>
                     </li>
                  }
               </ul>
            </div>
         </div>
      }
      @if (Model.SeeAlsos.Count > 0) {
         <div class="row">
            <div class="small-12 large-12 columns">
               <ul class="pricing-table">
                  <li class="title">See Also</li>
                  @foreach(var seeAlso in Model.SeeAlsos) {
                     <li class="bullet-item">
                        <a href="@seeAlso.Url">@seeAlso.Name</a>
                     </li>
                  }
               </ul>
            </div>
         </div>
      }
   </div>
</div>
