@using SeekDeepWithin.Models
@model SeekDeepWithin.Models.VersionViewModel

@{
    ViewBag.Title = "Contents for " + Model.Title;
}
@section styles{
   @*Tree Style*@
   <link href="~/Content/themes/default/style.css" rel="stylesheet" />
}

@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="bookId" name="bookId" value="@Model.BookId" />
<input type="hidden" id="versionId" name="versionId" value="@Model.Id" />
<input type="hidden" id="editNodeId" name="editNodeId" value="" />

<div id="deleteModal" class="reveal-modal small" data-reveal>
   <div class="row">
      <div class="small-12 column">
         <p class="text-center">Are you certain you want to delete the <span id="itemType"></span>?</p>
      </div>
   </div>
   <div class="row">
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button alert" onclick="okToDelete()">Yes</a>
      </div>
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button secondary" onclick="$('#deleteModal').foundation('reveal', 'close');">No</a>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

<div id="renameModal" class="reveal-modal small" data-reveal>
   <div class="row">
      <div class="small-12 column">
         <p class="text-center">Are you certain you want to rename the <span id="renameItemType"></span>? This will rename all occurances in this book.</p>
      </div>
   </div>
   <div class="row">
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button alert" onclick="okToRename()">Yes</a>
      </div>
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button secondary" onclick="$('#renameModal').foundation('reveal', 'close');">No</a>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

<div id="addListModal" class="reveal-modal" data-reveal>
   <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active"><a href="#addListPanel">Add List</a></li>
      <li class="tab-title"><a href="#addRangePanel">Add Range</a></li>
   </ul>
   <div class="tabs-content">
      <div class="content active" id="addListPanel">
         <div class="row">
            <div class="small-12 columns">
               <p class="text-center">
                  This feature will add a list of items to the selected item. Each new item should be placed on it's own line.
                  If the <span class="label secondary">Version</span> is selected, the new items will be
                  <span class="label secondary">Sub Books</span>. If a <span class="label secondary">Sub Book</span> is selected,
                  the new items will be <span class="label secondary">Chapters</span>.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns">
               <textarea rows="10" id="addListText" name="addListText"></textarea>
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns text-center">
               <a href="javascript:void(0);" class="button small" onclick="createList()">Add</a>
            </div>
         </div>
      </div>
      <div class="content" id="addRangePanel">
         <div class="row">
            <div class="small-12 columns">
               <p class="text-center">
                  This feature will add a range of items to the selected item.
                  If the <span class="label secondary">Version</span> is selected, the new items will be
                  <span class="label secondary">Sub Books</span>. If a <span class="label secondary">Sub Book</span> is selected,
                  the new items will be <span class="label secondary">Chapters</span>.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="small-6 large-6 columns">
               <label for="addRangeStart">Start Range</label>
               <input type="number" id="addRangeStart" name="addRangeStart" />
            </div>
            <div class="small-6 large-6 columns">
               <label for="addRangeEnd">End Range</label>
               <input type="number" id="addRangeEnd" name="addRangeEnd" />
            </div>
         </div>
         <div class="row">
            <div class="small-6 large-6 columns">
               <label for="addRangeStart">Prefix range with</label>
               <input type="text" id="addRangePrefix" name="addRangeStart" />
            </div>
            <div class="small-6 large-6 columns">
               <label for="addRangeStart">Append range with</label>
               <input type="text" id="addRangeAppend" name="addRangeEnd" />
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns text-center">
               <a href="javascript:void(0);" class="button small" onclick="createListRange()">Add</a>
            </div>
         </div>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

@Html.Partial("_Modal")

<br />
<div class="row">
   <div class="small-12 medium-9 large-9 columns">
      @{
         var contents = new VersionContents (Model.Title, Model.Contents, Model.Id, -1, -1);
         @Html.EditorFor(c => contents)
      }
   </div>
   <div id="contentPanel" class="small-12 medium-3 large-3 columns hide-for-small-only">
      <div id="leftMenu">
         <div class="side-menu">
            <a class="item" href="javascript:void(0)" onclick="createSubBook();"><i class="icon-createfile"></i> Add Sub Book</a>
            <a class="item" href="javascript:void(0)" onclick="createChapter();"><i class="icon-createfile"></i> Add Chapter</a>
            <a class="item" href="javascript:void(0)" onclick="showAddList();"><i class="icon-createfile"></i> Add List</a>
            <a class="item" href="javascript:void(0)" onclick="deleteItem();"><i class="icon-remove-circle"></i> Delete</a>
            <a class="item" href="javascript:void(0)" onclick="renameItem();"><i class="icon-edit"></i> Rename</a>
            <a class="item" href="javascript:void(0)" onclick="setDefaultChapter();"><i class="icon-bookmark"></i> Set as Default Chapter</a>
            <a class="item" href="javascript:void(0)" onclick="collapseAll();">Collapse All</a>
            <a class="item" href="javascript:void(0)" onclick="editItem();">Edit</a>
            <div class="switch">
               <i class="icon-eye-close" style="color: white"></i>
               <input id="hideSwitch" type="checkbox">
               <label for="hideSwitch"></label>
               <i class="icon-eye-open" style="color: white"></i>
               <span id="hideSaved"><i class="icon-ok-sign" style="color: green"></i></span>
            </div>
         </div>
      </div>
   </div>
</div>

@section scripts {
   @Scripts.Render("~/bundles/sdw.contentsedit")
}
