@using Newtonsoft.Json.Linq
@model SeekDeepWithin.Models.VersionViewModel

@{
    ViewBag.Title = "Contents for " + Model.Title;
}
@section styles{
   <link href="~/Content/themes/default/style.css" rel="stylesheet" />
}

<h3>Contents for @Model.Title <small><a href="@TempData["RefUrl"]">return</a></small></h3>

@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="versionId" name="versionId" value="@Model.Id" />
<input type="hidden" id="editNodeId" name="editNodeId" value="" />

<div id="deleteModal" class="reveal-modal small" data-reveal>
   <div class="row">
      <div class="small-12 column">
         <p class="text-center">Are you certain you want to delete the <span id="itemType"></span>?</p>
      </div>
   </div>
   <div class="row">
      <div class="small-6 column text-center">
         <a href="#" class="button alert">Yes</a>
      </div>
      <div class="small-6 column text-center">
         <a href="#" class="button secondary" onclick="$('#deleteModal').foundation('reveal', 'close');">No</a>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal" class="reveal-modal" data-reveal>
   <div class="row">
      <div class="small-6 large-4 columns" id="showColumn">
         <label for="editNodeShow">Default Reading Style</label>
         <select id="editNodeShow" name="editNodeShow">
            <option selected="selected" id="showverse">verse</option>
            <option id="showpara">paragraph</option>
         </select>
      </div>
      <div class="small-5 large-4 columns">
         <label for="editNodeHide">Show/Hide</label>
         <select id="editNodeHide" name="editNodeHide">
            <option selected="selected" id="hideshow">Show</option>
            <option id="hidehide">Hide</option>
         </select>
      </div>
      <div class="small-1 large-4 columns">
      </div>
   </div>
   <div class="row">
      <div class="small-12 large-12 columns">
         <label for="editNodeName">Name</label>
         <input type="text" id="editNodeName" name="editNodeName"/>
      </div>
   </div>
   <div class="row text-center">
      <div class="small-12 large-12 columns">
         <a href="#" class="button tiny" onclick="nodeEditDone();">Update</a>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

<div class="row">
   <div class="small-12 large-12 columns">
      <ul class="button-group radius">
         <li><a href="#" class="button success tiny" onclick="createSubBook();"><i class="icon-createfile"></i> Sub Book</a></li>
         <li><a href="#" class="button success tiny" onclick="createChapter();"><i class="icon-createfile"></i> Chapter</a></li>
         <li><a href="#" class="button secondary tiny" onclick="editItem();"><i class="icon-editalt"></i> Edit</a></li>
         <li><a href="#" class="button alert tiny" onclick="deleteItem();"><i class="icon-remove-circle"></i> Delete</a></li>
      </ul>
   </div>
</div>

@{ dynamic contents = JArray.Parse (Model.Contents); }
<div class="row">
   <div class="small-12 large-12 columns">
      <div id="contentTree">
         <ul>
            <li data-jstree='{"opened":true, "type":"version"}' id="root">
               @Model.Title
               @if (contents.Count > 0) {
                  <ul>
                     @foreach (var subBook in contents) {
                        var name = subBook.name;
                        var hideSb = subBook.hide ?? new JValue (false);
                        <li data-jstree='{"opened":true, "type":"subbook"}' data-hide="@hideSb.Value" data-id="@subBook.id">
                           @name
                           @if (subBook.chapters.Count > 0) {
                              <ul>
                                 @foreach (var chapter in subBook.chapters) {
                                    var hideCh = chapter.hide ?? new JValue (false);
                                    var showCh = chapter.show ?? new JValue ("verse");
                                    <li data-jstree='{"type":"chapter"}' data-hide="@hideCh.Value" data-show="@showCh" data-id="@chapter.id">@chapter.name</li>
                                 }
                              </ul>
                           }
                        </li>
                     }
                  </ul>
               }
            </li>
         </ul>
      </div>
   </div>
</div>

@section scripts {
   @Scripts.Render("~/bundles/sdw.contentsedit")
}
