@model SeekDeepWithin.Models.VersionViewModel

@{
   ViewBag.Title = "Edit Version: " + Model.Name;
}

<h3>Edit Version: @Model.Name</h3>

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>Version Details</legend>

      @Html.HiddenFor(model => model.Id)
      @Html.HiddenFor(model => model.BookId)

      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Abbreviation)
            @Html.EditorFor(model => model.Abbreviation)
            @Html.ValidationMessageFor(model => model.Abbreviation)
         </div>
      </div>

      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.TitleFormat)
            @Html.EditorFor(model => model.TitleFormat)
            @Html.ValidationMessageFor(model => model.TitleFormat)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.PublishDate)
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
         </div>
      </div>

      <div class="row">
         <div class="small-12 large-8 columns">
            @Html.LabelFor(model => model.About)
            @Html.TextAreaFor(model => model.About, 10, 80, null)
            @Html.ValidationMessageFor(model => model.About)
         </div>
      </div>

      <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
   </fieldset>
}


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/versionedit")
}
