@model SeekDeepWithin.Models.VersionViewModel

@{
   ViewBag.Title = "Edit " + Model.Title;
}

<h3><small>editing</small> @Model.Title</h3>
@if (User.IsInRole ("Creator"))
{
   <small class="bullet-item">
      @Html.ActionLink("edit contents", "Contents", new {id = Model.Id})
   </small>
}
@if (ViewBag.ErrorMessage != null) {
   <div class ="alert-box alert">@ViewBag.ErrorMessage</div>
}

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>Version Details</legend>

      @Html.HiddenFor(model => model.Id)
      @Html.HiddenFor(model => model.BookId)

      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Abbreviation)
            @Html.EditorFor(model => model.Abbreviation)
            @Html.ValidationMessageFor(model => model.Abbreviation)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.PublishDate)
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
         </div>
      </div>

      <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
   </fieldset>
}


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/versionedit")
}
