@model SeekDeepWithin.Models.VersionViewModel

@{
   ViewBag.Title = "Edit " + Model.Title;
}

<h3><small>editing</small> @Model.Title
   @if (User.IsInRole ("Creator")) {
      <small class="bullet-item">
         @Html.ActionLink("edit contents", "Contents", new {id = Model.Id})
      </small>
   }
</h3>
@if (ViewBag.ErrorMessage != null) {
   <div class ="alert-box alert">@ViewBag.ErrorMessage</div>
}

@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>Version Details</legend>

      @Html.HiddenFor(model => model.Id)
      @Html.HiddenFor(model => model.BookId)

      <div class="row">
         <div class="small-12 columns">
            @Html.LabelFor(model => model.Abbreviation)
            @Html.EditorFor(model => model.Abbreviation)
            @Html.ValidationMessageFor(model => model.Abbreviation)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 columns">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 columns">
            @Html.LabelFor(model => model.PublishDate)
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
         </div>
      </div>
      
      
      <div class="row">
         <div class="small-12 large-4 columns">
            <input type="submit" value="Save" class="button expand" />
         </div>
         <div class="small-6 large-4 columns">
            <a href="javascript:void(0)" onclick="setAsDefaultVersion()" class="button expand">
               Set as Default <i id="saveCheck" class="icon-ok-sign" style="display: none;"></i>
            </a>
         </div>
         <div class="small-6 large-4 columns">
            <a href="@Url.Action("EditSource", "Source", new {id=Model.Id, type="version"}, Request.Url.Scheme)" class="button expand secondary">
               Edit Source
            </a>
         </div>
      </div>
   </fieldset>
}


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/sdw.versionedit")
}
