@model SeekDeepWithin.Models.VersionViewModel

@{
   ViewBag.Title = "Edit " + Model.Title;
}

<h3><small>editing</small> @Model.Title
   @if (User.IsInRole ("Creator")) {
      <small class="bullet-item">
         @Html.ActionLink("edit contents", "Contents", new {id = Model.Id})
      </small>
   }
</h3>
@if (ViewBag.ErrorMessage != null) {
   <div class ="alert-box alert">@ViewBag.ErrorMessage</div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      @using (Html.BeginForm ()) {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         <fieldset>
            <legend>Version Details</legend>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.BookId)
            <div class="row">
               <div class="small-12 columns">
                  @Html.LabelFor(model => model.Abbreviation)
                  @Html.EditorFor(model => model.Abbreviation)
                  @Html.ValidationMessageFor(model => model.Abbreviation)
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  @Html.LabelFor(model => model.Title)
                  @Html.EditorFor(model => model.Title)
                  @Html.ValidationMessageFor(model => model.Title)
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  @Html.LabelFor(model => model.PublishDate)
                  @Html.EditorFor(model => model.PublishDate)
                  @Html.ValidationMessageFor(model => model.PublishDate)
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  <input type="submit" value="Save" class="button expand" />
               </div>
            </div>
            <div class="row">
               <div class="small-6 columns">
                  <a href="javascript:void(0)" onclick="version_default()" class="button expand">
                     Set as Default <i id="saveCheck" class="icon-ok-sign" style="display: none;"></i>
                  </a>
               </div>
               <div class="small-6 columns">
                  <a href="@Url.Action("EditSource", "Source", new {id=Model.Id, type="version"}, Request.Url.Scheme)" class="button expand secondary">
                     Edit Source
                  </a>
               </div>
            </div>
            <div class="row">
               <div class="small-6 columns">
                  <a href="javascript:void(0)" class="button expand secondary" onclick="version_subBookOrder();">
                     Update SubBook Order <i id="orderCheck" class="icon-ok-sign" style="display: none;"></i>
                  </a>
               </div>
               <div class="small-6 columns">
                  <label for="startOrder">Start Order</label>
                  <input type="number" id="startOrder" name="startOrder" value="0" />
               </div>
            </div>
         </fieldset>
      }
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <fieldset>
         <legend>Assign Writer <span style="font-size: small"><a href="@Url.Action("Create", "Writer", null, Request.Url.Scheme)">new writer</a></span></legend>
         <div class="row">
            <div class="small-8 columns">
               @Html.DropDownList("writerId", ViewBag.Writers as SelectList)
            </div>
            <div class="small-4 columns">
               <div class="switch">
                  <input id="isTranslator" name="isTranslator" type="checkbox">
                  <label for="isTranslator"></label>
               </div>
               Translator
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns">
               <a href="javascript:void(0)" class="button expand" onclick="version_assignWriter()">Assign 
                  <i class="icon-ok-sign" id="writerSaved" style="display: none;"></i>
               </a>
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns">
               <div id="writers">
                  @if (Model.Writers.Count > 0) {
                     foreach (var writer in Model.Writers) {
                        <div class="row" id="writer_@writer.Id">
                           <div class="small-1 columns">
                              <a href="javascript:void(0)" onclick="version_removeWriter(@Model.Id, @writer.Id) " title="Remove">
                                 <i class="icon-remove-circle" style="color:red;"></i>
                              </a>
                           </div>
                           <div class="small-11 columns">
                              <a href="@Url.Action("Details", "Writer", new { id = writer.Id }, Request.Url.Scheme)">@writer.Name</a>
                           </div>
                        </div>
                     }
                  } else {
                     <div class="alert-box info" id="noWriters">No writers have been added to this book.</div>
                  }
               </div>
            </div>
         </div>
      </fieldset>
   </div>
</div>
@Html.Partial("_Modal")

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/sdw.versionedit")
}
