@using SeekDeepWithin.Pocos
@model SeekDeepWithin.Models.LevelModel
@foreach (var item in Model.Items.OrderBy(i => (int)i.Type).ThenBy(i => i.Order ?? 0)) {
<div class="small-6 medium-4 large-4 column truth" id="c@(item.Id)_@(item.Parents)">
   <div class="callout" id="l@(item.Id)_@(item.Parents)" onclick="sdw.love(@(item.Id), '@(item.Parents)');" data-tid="@(item.TruthId)">
      @foreach (var header in item.Headers) { <h4>@(header.Text)</h4> }
      @if (item.Type == SdwType.Passage && item.Number.HasValue) {
         <div class="row">
            <div class="small-2 columns text-right">@(item.Number.Value)</div>
            <div class="small-10 columns text-left">@(item.Text)</div>
         </div>
      } else {
         @(item.Text)
      }
      @foreach (var footer in item.Footers) { <div style="font-size: x-small" class="mTop">@(footer.Text)</div> }
      @if (!string.IsNullOrEmpty (item.Title)) { <div style="font-size: x-small" class="mTop">@(item.Title)</div> }
   </div>
</div>
}