@using SeekDeepWithin.Controllers
@model SeekDeepWithin.Models.TermViewModel

@{
   ViewBag.Title = "Editing " + Model.Name;
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               <small>editing</small> @Model.Name
               <small style="float: right">
                  <a href="@Url.Action("Index", "Term", new {id=Model.Id}, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to term
                  </a>
               </small>
            </h3>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@Html.AntiForgeryToken()}
<input type="hidden" id="termId" name="termId" value="@(Model.Id)"/>
<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Term Details</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="termName">Name</label>
                  <input type="text" id="termName" name="termName" value="@(Model.Name)">
                  <input type="hidden" id="selTermId" name="selTermId"/>
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="javascript:void(0)" onclick="term_edit();" class="sdw-button reg expand">
                     <i class="icon-edit"></i> update
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Tags</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="termTagList">Tag Name</label>
                  <input type="text" name="termTagList" id="termTagList" />
                  <input type="hidden" id="selTermTagId" name="selTermTagId" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="javascript:void(0)" class="sdw-button add expand mBottom" onclick="term_addTag();">
                     <i class="icon-plus"></i> add tag
                  </a>
               </div>
            </div>
            <div id="currentTag">
               @foreach (var tag in Model.Links.Where(l => l.LinkType == TermLinkType.Tag)) {
                  <div class="row" id="RemoveTag_@(tag.Id)">
                     <div class="small-8 medium-9 large-10 columns">
                        <a href="@Url.Action("Index", "Term", new {id=tag.RefId}, scheme)" class="sdw-button white expand">
                           @(tag.Name)
                        </a>
                     </div>
                     <div class="small-4 medium-3 large-2 columns">
                        <a href="javascript:void(0);" onclick="term_link('RemoveTag', @(tag.Id));" title="Remove tag" class="sdw-button err small expand">
                           <i class="icon-trash"></i>
                        </a>
                     </div>
                  </div>
               }
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">See Also's</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="termSeeAlsoList">Tag Name</label>
                  <input type="text" name="termSeeAlsoList" id="termSeeAlsoList" />
                  <input type="hidden" id="selTermSeeAlsoId" name="selTermSeeAlsoId" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="javascript:void(0)" class="sdw-button add expand mBottom" onclick="term_addSeeAlso();">
                     <i class="icon-plus"></i> add see also
                  </a>
               </div>
            </div>
            <div id="currentSeeAlso">
               @foreach (var seeAlso in Model.Links.Where(l => l.LinkType == TermLinkType.SeeAlso)) {
                  <div class="row" id="RemoveSeeAlso_@(seeAlso.Id)">
                     <div class="small-8 medium-9 large-10 columns">
                        <a href="@Url.Action("Index", "Term", new {id=seeAlso.RefId}, scheme)" class="sdw-button white expand">
                           @(seeAlso.Name)
                        </a>
                     </div>
                     <div class="small-4 medium-3 large-2 columns">
                        <a href="javascript:void(0);" onclick="term_link('RemoveSeeAlso', @(seeAlso.Id));" title="Remove See Also" class="sdw-button err small expand">
                           <i class="icon-trash"></i>
                        </a>
                     </div>
                  </div>
               }
            </div>
         </div>
      </div>
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Writers</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="termWriterList">Writer Name</label>
                  <input type="text" name="termWriterList" id="termWriterList" />
                  <input type="hidden" id="selTermWriterId" name="selTermWriterId" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="javascript:void(0)" class="sdw-button add expand mBottom" onclick="term_addWriter();">
                     <i class="icon-plus"></i> add writer
                  </a>
               </div>
            </div>
            <div id="currentWriter">
               @foreach (var writer in Model.Links.Where(l => l.LinkType == TermLinkType.Writer)){
                  <div class="row" id="RemoveWriter_@(writer.Id)">
                     <div class="small-8 medium-9 large-10 columns">
                        <a href="@Url.Action("Index", "Term", new {id=writer.RefId}, scheme)" class="sdw-button white expand">
                           @(writer.Name)
                        </a>
                     </div>
                     <div class="small-4 medium-3 large-2 columns">
                        <a href="javascript:void(0);" onclick="term_link('RemoveWriter', @(writer.Id));" title="Remove Writer" class="sdw-button err small expand">
                           <i class="icon-trash"></i>
                        </a>
                     </div>
                  </div>
               }
            </div>
         </div>
      </div>
   </div>
</div>
@Html.Partial("_Modal")
@section Scripts {
   @Scripts.Render("~/bundles/sdw.term")
}
