@model SeekDeepWithin.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm ("Manage", "Account"))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   <fieldset>
      <legend>Change Password</legend>
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
         </div>
      </div>
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
         </div>
      </div>
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
         </div>
      </div>
      <input type="submit" value="Change password" class="button" />
   </fieldset>
}
