@model SeekDeepWithin.Models.LoginViewModel
@{ ViewBag.IsLogin = true; }
@{var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;}
@using (Html.BeginForm(new { ViewBag.ReturnUrl })) {
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)
   <div class="row mTopBig">
      <div class="small-12 large-6 large-offset-3 column">
         <p><em style="font-size: 18pt;">Login</em></p>
         @(Html.LabelFor (m => m.UserEmail))
         @(Html.EditorFor (m => m.UserEmail))
         @(Html.LabelFor (m => m.Password))
         @(Html.PasswordFor (m => m.Password))
         <div class="row">
            <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4 column">
               <input type="submit" value="Login" class="sdw-button expand reg mBottom" />
            </div>
         </div>
         <div class="callout" style="padding: 1rem;">
            <a href="@Url.Action("Register", "Account", null, scheme)" style="color: #346789;">Register</a> if you don't have an account.
         </div>
      </div>
   </div>
}
