@model SeekDeepWithin.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h3>@ViewBag.Title.</h3>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Hello <strong>@User.Identity.Name</strong>, use this page to change information about your account.</p>

<div class="row">
   <div class="small-12 large-8 columns">
      @(ViewBag.HasLocalPassword ? Html.Partial ("_ChangePasswordPartial") : Html.Partial ("_SetPasswordPartial"))
   </div>

   <div class="small-12 large-4 columns">
      @Html.Action("RemoveExternalLogins")
      @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
   </div>
</div>

<div class="row">
   <div class="columns">
      
   </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
