@model SeekDeepWithin.Models.ManageModel
<p class="mTopBig">
   Hello <em>@(User.Identity.Name)</em>, use this page to change information about your account.
   <a id="btnLogout" title="Log out" style="color: #346789;">Log out here.</a>
</p>
@using (Html.BeginForm ("Manage", "Account")) {
   @(Html.AntiForgeryToken ())
   <span style="font-size: x-large">Change Password</span>
   <div class="row">
      <div class="small-12 large-6 columns">
         @(Html.LabelFor (m => m.OldPassword))
         @(Html.PasswordFor (m => m.OldPassword))
         @(Html.LabelFor (m => m.NewPassword))
         @(Html.PasswordFor (m => m.NewPassword))
         @(Html.LabelFor (m => m.ConfirmPassword))
         @(Html.PasswordFor (m => m.ConfirmPassword))
         <input type="submit" value="Change Password" class="sdw-button reg" />
      </div>
      <div class="small-12 large-6 columns">
         <div class="row">
            <div class="small-2 columns">
               <div class="switch tiny" style="margin: 0;">
                  @if (Model.LoadOnScroll) {
                     <input type="checkbox" class="switch-input" id="LoadOnScroll" name="LoadOnScroll" checked="checked" />
                  } else {
                     <input type="checkbox" class="switch-input" id="LoadOnScroll" name="LoadOnScroll" />
                  }
                  <label class="switch-paddle" for="LoadOnScroll"></label>
               </div>
            </div>
            <div class="small-10 columns">Load more items upon reaching the bottom of the page, otherwise a button will load more items.</div>
         </div>
         <div class="row column">
            <a id="btnSave" class="sdw-button reg">Save Changes</a><span style="color: green;" id="saveOk">SAVED</span>
         </div>
      </div>
   </div>
}
<div style="display: none;">
   @using (Html.BeginForm ("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) { @(Html.AntiForgeryToken ()) }
</div>

@section scripts {
   @(Scripts.Render ("~/bundles/sdw/user"))
}
