@model SeekDeepWithin.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h3>@ViewBag.Title.</h3>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Hello <strong>@User.Identity.Name</strong>, use this page to change information about your account.</p>

@(ViewBag.HasLocalPassword ? Html.Partial ("_ChangePasswordPartial") : Html.Partial ("_SetPasswordPartial"))

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h4>Add an external login</h4>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
