﻿@model SeekDeepWithin.Models.TermItemViewModel
@section styles {@Styles.Render("~/Content/css/slider")}
@{
   ViewBag.Title = "Edit Item - " + Model.Term.Name;
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h5>
               <small>editing item for</small> @Model.Term.Name
               <small style="float: right">
                  <a href="@Url.Action("Index", "Term", new {id=Model.Term.Id}, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to term
                  </a>
               </small>
            </h5>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@(Html.AntiForgeryToken ())}
<input type="hidden" id="editEntryId" name="editEntryId" /><input type="hidden" id="itemId" name="itemId" value="@(Model.Id)" />
<div id="cd-nav"><a href="javascript:void(0)" class="cd-nav-trigger">Menu<span></span></a></div>
<div class="sdw-panel">
   <div class="title">Edit Entries</div>
   <div class="content">
      <div class="row">
         <div class="small-12 medium-4 large-4 columns hide-for-small-only" id="parentListContainer">
            <div class="sdw-panel" style="overflow: auto;" id="entryList">
               @foreach (var entry in Model.Entries) {
                  var len = entry.Text.Length > 20 ? 20 : entry.Text.Length;
                  <a href="javascript:void(0)" onclick="entry_get(@(entry.Id))" id="item_@(entry.Id)" class="sdw-button white expand small tLeft">
                     <small class="mLeft">@(entry.Order)</small> - @(entry.Text.Substring (0, len))...
                  </a>
               }
            </div>
         </div>
         <div class="small-12 medium-8 large-8 columns" id="workArea">
            <div class="row">
               <div class="small-9 medium-9 large-10 columns">
                  <label for="entryHeader">Header</label>
                  <textarea id="entryHeader" rows="2"></textarea>
               </div>
               <div class="small-3 medium-3 large-2 columns">
                  <a href="javascript:void(0)" class="sdw-button alt expand mTop" title="Edit Item" onclick="entry_edit_header();">
                     <i class="icon-edit"></i>
                  </a>
               </div>
            </div>
            <div class="row">
               <div class="small-12 large-12 columns">
                  <textarea id="entryText" name="entryText" rows="8"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 large-6 columns">
                  <div class="row collapse">
                     <div class="small-5 large-4 columns">
                        <span class="prefix">Number</span>
                     </div>
                     <div class="small-7 large-8 columns">
                        <input type="number" id="entryNumber" name="entryNumber" value="0" />
                     </div>
                  </div>
               </div>
               <div class="small-12 medium-6 large-6 columns">
                  <div class="row collapse">
                     <div class="small-5 large-4 columns">
                        <span class="prefix">Order</span>
                     </div>
                     <div class="small-7 large-8 columns">
                        <input type="number" id="entryOrder" name="entryOrder" value="0" />
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="small-6 columns">
                  <a href="javascript:void(0)" class="sdw-button reg expand small mBottom" onclick="entry_update();">
                     <i class="icon-savetodrive"></i> Save
                  </a>
               </div>
               <div class="small-6 columns">
                  <a href="javascript:void(0)" class="sdw-button err expand small mBottom" onclick="entry_check_delete();">
                     <i class="icon-trash"></i> Delete
                  </a>
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  <div class="pagination">
                     <div class="row">
                        <div class="small-6 columns">
                           <a href="javascript:void(0)" class="page" onclick="entry_previous();">&laquo; Previous Item</a>
                        </div>
                        <div class="small-6 columns tRight">
                           <a href="javascript:void(0)" class="page" onclick="entry_next();">Next Item &raquo;</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="sdw-panel" id="itemEditArea">
   <div class="title">Edit Item</div>
   <div class="content" id="editItem">

   </div>
</div>
@(Html.Partial("_AddEntries"))
@(Html.Partial("_Modal"))
@section Scripts {
   @(Scripts.Render("~/bundles/sdw.item.edit"))
   @if (Model.Entries.Count > 0) {
      <script type="text/javascript">
         document.prevEntryId = -1;
         $(document).ready(function() {
            entry_get(@Model.Entries.First().Id);
         });
      </script>
   }
}