@model SeekDeepWithin.Models.ChapterViewModel

@{
   var title = Model.SubBook.Version.Title;
   if (Model.SubBook.Name != "default"){
      title += " | " + Model.SubBook.Name;
   }
   title += " | " + Model.Name;
   ViewBag.Title = "Edit " + title;
}
<h3>
   <small>editing</small> @title
</h3>
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

@Html.Hidden("chapterId", Model.Id)
<input type="hidden" id="FooterIndex" name="FooterIndex" value="-1" />
<input type="hidden" id="itemType" name="itemType" value="Passage" />

<div class="off-canvas-wrap" data-offcanvas>
   <div class="inner-wrap">
      <nav class="tab-bar">
         <section class="left-small text-center">
            <a class="left-off-canvas-toggle" href="#" style="color: black;"><i class="icon-menu"></i></a>
         </section>

         <section class="middle tab-bar-section">
            <h1 class="title">Passage <small>(passage id: <span id="editPassId"></span> entry id: <span id="editEntryId"></span>)</small></h1>
         </section>
      </nav>

      <aside class="left-off-canvas-menu">
         <ul class="off-canvas-list" id="itemList">
            <li><label>Passages</label></li>
            @foreach (var passage in Model.Passages) {
               var len = passage.Text.Length > 20 ? 20 : passage.Text.Length;
               <li id="item_@passage.EntryId">
                  <a href="javascript:void(0)" onclick="passage_get(@passage.EntryId)"><small>@passage.Number</small> - @passage.Text.Substring(0, len)...</a>
               </li>
            }
         </ul>
      </aside>

      <section class="main-section">

         <div class="row">
            <div class="small-12 large-12 columns">
               <textarea cols="10" id="passText" name="passText" rows="8" style="margin-top: 10px;"></textarea>
            </div>
         </div>

         <div class="row">
            <div class="small-12 medium-6 large-6 columns">
               <div class="row collapse">
                  <div class="small-3 large-2 columns">
                     <span class="prefix">Number</span>
                  </div>
                  <div class="small-9 large-10 columns">
                     <input type="number" id="entryNumber" name="entryNumber" value="0" />
                  </div>
               </div>
            </div>
            <div class="small-12 medium-6 large-6 columns">
               <div class="row collapse">
                  <div class="small-3 large-2 columns">
                     <span class="prefix">Order</span>
                  </div>
                  <div class="small-9 large-10 columns">
                     <input type="number" id="entryOrder" name="entryOrder" value="0" />
                  </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="small-6 large-3 large-offset-2 columns">
               <a href="javascript:void(0)" class="button expand" onclick="passage_update();">
                  <i class="icon-savetodrive"></i> Save
               </a>
            </div>
            <div class="small-6 large-3 large-offset-2 columns">
               <a href="javascript:void(0)" class="button alert expand" onclick="passage_check_delete();">
                  <i class="icon-remove-circle"></i> Delete
               </a>
            </div>
            <div class="small-12 large-2 columns"></div>
         </div>

         <div class="row">
            <div class="small-6 pagination-centered columns">
               <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
                  <li class="arrow">
                     <a href="javascript:void(0)" onclick="passage_previous();">&laquo; Previous Item</a>
                  </li>
               </ul>
            </div>
            <div class="small-6 pagination-centered columns">
               <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
                  <li class="arrow">
                     <a href="javascript:void(0)" onclick="passage_next();">Next Item &raquo;</a>
                  </li>
               </ul>
            </div>
         </div>

         <hr/>

         <div class="row">
            <div class="small-6 medium-3 large-3 columns">
               <a href="#" class="button expand" id="btnEditLinks"><i class="icon-link"></i> Edit Links</a>
            </div>
            <div class="small-6 medium-3 large-3 columns">
               <a href="#" class="button expand" id="btnEditStyles"><i class="icon-paintroll"></i> Edit Styles</a>
            </div>
            <div class="small-6 medium-3 large-3 columns">
               <a href="#" class="button expand" id="btnEditHeaders"><i class="icon-notificationbottom"></i> Edit Headers</a>
            </div>
            <div class="small-6 medium-3 large-3 columns">
               <a href="#" class="button expand" id="btnEditFooters"><i class="icon-notificationtop"></i> Edit Footers</a>
            </div>
         </div>

         <div class="row">
            <div class="small-6 medium-3 large-3 columns">
               <a href="@Url.Action("Read", "Chapter", new {id=Model.Id}, Request.Url.Scheme)" class="button expand secondary">
                  <i class="icon-preview"></i> Read
               </a>
            </div>
            @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
               <div class="small-6 medium-3 large-3 columns">
                  <a href="@Url.Action("Add", "Chapter", new {id = Model.Id}, Request.Url.Scheme)" class="button expand success">
                     <i class="icon-plus"></i> Add Passages
                  </a>
               </div>
            }
            <div class="small-6 medium-3 large-3 columns">
               <a href="@Url.Action("Edit", "Header", new{id=Model.Id, type="Chapter"})" class="button expand">
                  <i class="icon-editalt"></i> Edit Chapter Headers
               </a>
            </div>
            <div class="small-6 medium-3 large-3 columns">
               <a href="@Url.Action("Edit", "Footer", new{id=Model.Id, type="Chapter"})" class="button expand">
                  <i class="icon-editalt"></i> Edit Chapter Footers
               </a>
            </div>
            @if (!Request.IsAuthenticated || !User.IsInRole ("Creator"))
            {
               <div class="small-6 medium-3 large-3 columns"></div>
            }
         </div>

         <div class="row">
            <div class="small-12 columns">
               <fieldset>
                  <legend>Reading Style <i class="icon-ok-sign" id="saveReadStyleCheck" style="color: green"></i></legend>
                  
                  <div class="row">
                     <div class="small-6 medium-3 large-3 columns">
                        <label for="verseRadio"><i class="icon-numberlist"></i> Verses</label>
                        <div class="switch">
                           <input id="verseRadio" type="radio" name="versePara" @if (!Model.DefaultToParagraph) { <text> checked="checked" </text> }>
                           <label for="verseRadio"></label>
                        </div>
                     </div>
                     <div class="small-6 medium-3 large-3 columns">
                        <label for="paraRadio"><i class="icon-align-left"></i> Paragraphs</label>
                        <div class="switch">
                           <input id="paraRadio" type="radio" name="versePara" @if (Model.DefaultToParagraph) { <text> checked="checked" </text>  }>
                           <label for="paraRadio"></label>
                        </div>
                     </div>
                     <div class="small-12 medium-6 large-6 columns">
                        
                     </div>
                  </div>
               </fieldset>
            </div>
         </div>

      </section>

      <a class="exit-off-canvas"></a>

   </div>
</div>

<div id="deleteModal" class="reveal-modal small" data-reveal>
   <div class="row">
      <div class="small-12 column">
         <p class="text-center">Are you certain you want to delete this passage?</p>
      </div>
   </div>
   <div class="row">
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button alert" onclick="passage_delete()">Delete</a>
      </div>
      <div class="small-6 column text-center">
         <a href="javascript:void(0)" class="button secondary" onclick="$('#deleteModal').foundation('reveal', 'close');">Cancel</a>
      </div>
   </div>
   <a class="close-reveal-modal">&#215;</a>
</div>

@Html.Partial("_Modal")

@section Scripts {
   @Scripts.Render("~/bundles/sdw.editchapter")
   @if (Model.Passages.Count > 0) {
      <script type="text/javascript">
         $(document).ready(function() {
            passage_get(@Model.Passages.First().EntryId);
         });
      </script>
   }
}
