@using SeekDeepWithin.Models
@model SeekDeepWithin.Models.ChapterViewModel

@{
   var contents = new VersionContents (Model.SubBook.Version.Title, Model.SubBook.Version.Contents, 
      Model.SubBook.VersionId, Model.SubBook.Id, Model.Id);
   var title = Model.SubBook.Version.Title;
   if (!Model.SubBook.Hide) {
      title += " | " + Model.SubBook.Name;
   }
   if (!Model.Hide) {
      title += " | " + Model.Name;
   }
   ViewBag.Title = title;
}

<div class="row show-for-small-only">
   <div class="small-12 large-12 columns alert-box secondary text-center" style="padding: 3px 10px;">
      <h4>
         <a href="@Url.Action("Read", "Chapter", new { id = @Model.SubBook.Version.DefaultReadChapter }, Request.Url.Scheme)">@Model.SubBook.Version.Title</a>
         @if (!Model.SubBook.Hide) {
            <text> | </text><a href="@Url.Action("About", "SubBook", new { id = @Model.SubBook.Id }, Request.Url.Scheme)">@Model.SubBook.Name</a>
         }
      </h4>
   </div>
</div>

<div id="readingRow">
   <div class="row">
      <div class="small-12 large-12 columns" id="readRow">
         <div class="off-canvas-wrap" data-offcanvas style="min-height: 200px;" id="readOffCanvas">
            <div class="inner-wrap">
               <nav class="tab-bar" id="readNavBar">
                  <section class="left-small text-center">
                     <a class="left-off-canvas-toggle" href="#" style="color: black;"><i class="icon-menu"></i></a>
                  </section>

                  <section class="middle tab-bar-section">
                     <h1 class="title">
                        <span class="show-for-medium-up">
                           <a href="@Url.Action("Read", "Chapter", new { id = @Model.SubBook.Version.DefaultReadChapter }, Request.Url.Scheme)">@Model.SubBook.Version.Title</a>
                           @if (!Model.SubBook.Hide) {
                              <text> | </text><a href="@Url.Action("About", "SubBook", new { id = @Model.SubBook.Id }, Request.Url.Scheme)">@Model.SubBook.Name</a>
                           }
                           @if (!Model.Hide) {
                              <text> | </text>@Model.Name
                           }
                        </span>
                        <span class="show-for-small-only">
                           @if (!Model.Hide) {
                              <text>@Model.Name</text>
                           } else if (!Model.SubBook.Hide) {
                              <text>@Model.SubBook.Name</text>}
                           else {
                              <text>@Model.SubBook.Version.Title</text>
                           }
                        </span>
                     </h1>
                  </section>
               </nav>

               <aside class="left-off-canvas-menu" style="min-height: 200px;" id="readMenu">
                  @Html.DisplayFor(c => contents)
               </aside>

               <section class="main-section" style="margin-top:10px;" id="readArea">
                  @Html.DisplayFor(model => model.Headers)
                  @foreach (var passage in Model.Passages) {
                     @Html.Partial("_Passage", passage)
                  }
                  @Html.DisplayFor(model => model.Footers)
                  <div class="row">
                     <div class="small-6 pagination-centered columns">
                        <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
                           @if (contents.PreviousChapter == -1) {
                              <li class="arrow unavailable" aria-disabled="true"><a href="javascript:void(0)">&laquo; Previous Chapter</a></li>
                           } else {
                              <li class="arrow"><a href="@Url.Action("Read", "Chapter", new { id = contents.PreviousChapter }, Request.Url.Scheme)">&laquo; Previous Chapter</a></li>
                           }
                        </ul>
                     </div>
                     <div class="small-6 pagination-centered columns">
                        <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
                           @if (contents.NextChapter == -1) {
                              <li class="arrow unavailable" aria-disabled="true"><a href="javascript:void(0)">Next Chapter &raquo;</a></li>
                           } else {
                              <li class="arrow"><a href="@Url.Action("Read", "Chapter", new { id = contents.NextChapter }, Request.Url.Scheme)">Next Chapter &raquo;</a></li>
                           }
                        </ul>
                     </div>
                  </div>
               </section>

               <a class="exit-off-canvas"></a>
            </div>
         </div>
      </div>
   </div>

   <div class="panel" style="padding: 3px 10px;" id="readBottomPanel">
      <div class="row">
         <div class="small-6 large-6 columns text-left">
            <small>
               source:
               @if (!string.IsNullOrWhiteSpace (Model.SubBook.Version.SourceUrl)) {
                  <a href="@Model.SubBook.Version.SourceUrl" target="_blank">@Model.SubBook.Version.SourceName</a>
               } else {
                  @Html.Raw("unknown")
               }
               @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
                  @Html.ActionLink("[edit]", "EditSource", "Source", new { id = Model.SubBook.Version.Id, type = "version" }, null)
               }
            </small>
         </div>
         <div class="small-6 large-6 columns text-right">
            @{
               var writers = Model.SubBook.Writers.Where (w => !w.IsTranslator).ToList ();
               if (writers.Count > 0) {
                  <em>written by:</em>
                  foreach (var writer in writers) {
                     <span>@Html.ActionLink(writer.Name, "Details", "Writer", new { id = writer.Id }, null) </span>
                  }
               }
               var translators = Model.SubBook.Writers.Where (w => w.IsTranslator).ToList ();
               if (translators.Count > 0) {
                  <em>translated by:</em>
                  foreach (var writer in translators) {
                     <span>@Html.ActionLink(writer.Name, "Details", "Writer", new { id = writer.Id }, null) </span>
                  }
               }
            }
         </div>
      </div>
   </div>
</div>
@section scripts {
   <script src="~/Scripts/sdw/sdw.read.js"></script>
}
