@{
   ViewBag.Title = "Assign Writer";
}
<h3>Assign writer to @ViewBag.Title</h3>

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   <fieldset>
      <legend>Writer</legend>
      <p style="font-size: small;">
         <a href="@Url.Action("Create", "Author")"><i class="icon-plus"></i> add new writer</a>
      </p>
      <input type="hidden" id="subBookId" name="subBookId" value="@ViewBag.SubBookId" />
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.DropDownList("authorId", ViewBag.Authors as SelectList)
         </div>
      </div>
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.CheckBox("isTranslator") This is a translator
         </div>
      </div>
      <input type="submit" value="Assign" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
   </fieldset>
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
