@model SeekDeepWithin.Models.SubBookViewModel

@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(model => model.Id)
<table>
   <tr>
      <th>Book</th>
      <td>@Html.ActionLink(Model.Version.Book.Title, "Details", "Book", new { id = Model.Version.Book.Id }, null)</td>
   </tr>
   <tr>
      <th>Version</th>
      <td>@Html.ActionLink(Model.Version.Name, "Details", "Version", new { id = Model.Version.Id }, null)</td>
   </tr>
   <tr>
      <th>Sub Book</th>
      <td>@Model.Name <small>[@Html.ActionLink("edit", "Edit", new { id = Model.Id })]</small></td>
   </tr>
   <tr>
      <th>Order</th>
      <td>@Html.DisplayFor(model => model.Order)</td>
   </tr>
</table>

<h3>
   Chapters
   @if (Request.IsAuthenticated)
   {
      <small>[<a href="#" id="btnAddChapter" title="Add a new Chapter"><i class="icon-plus"></i></a>]</small>
   }
</h3>
@if (Request.IsAuthenticated)
{
   <div id="addChapterArea"></div>
}

<ul id="subBookList">
   @foreach (var chapter in Model.Chapters)
   {
      <li>@Html.ActionLink(chapter.Name, "Details", "Chapter", new { id = chapter.Id }, null)</li>
   }
</ul>
@if (Request.IsAuthenticated) {
   @section scripts {
      @Scripts.Render("~/bundles/subbookedit")
   }
}
