@model SeekDeepWithin.Models.SubBookViewModel

@{
    ViewBag.Title = "Edit Sub Book: " + Model.Name;
}
<h3><small>editing</small> @Model.Name</h3>
<small>
   @Html.ActionLink("add writer", "AssignWriter", new {id=Model.Id}) |
   @Html.ActionLink("add chapter", "Create", "Chapter", new { versionId = Model.Version.Id, subBookId = Model.Id }, null)
</small>

@using (Html.BeginForm ()) {
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>Sub Book Details</legend>

      @Html.HiddenFor(model => model.Id)
      @Html.HiddenFor(model => model.VersionId)
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.Order)
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
         </div>
      </div>

      <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
   </fieldset>
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
