@model SeekDeepWithin.Models.SubBookViewModel

@{
    ViewBag.Title = "Editing " + Model.Name;
}

<h3><small>editing</small> @Model.Name</h3>
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="vSubBookId" name="vSubBookId" value="@Model.Id" />
<input type="hidden" id="subBookId" name="subBookId" value="@Model.SubBookId" />
<div class="row">
   <div class="small-12 large-12 columns">
      <fieldset>
         <legend>New Writer</legend>
         <div class="row">
            <div class="small-12 large-6 columns">
               @Html.DropDownList("writerId", ViewBag.Writers as SelectList)
            </div>
            <div class="small-12 large-6 columns">
               @Html.CheckBox("isTranslator") This is a translator
            </div>
         </div>
         <div class="row">
            <div class="small-6 large-6 columns text-left">
               <input type="submit" value="Assign" class="button" onclick="assignWriter()" /> <span id="writerSaved"><i class="icon-ok-sign" style="color: green"></i></span>
            </div>
            <div class="small-6 large-6 columns text-right">
               <a href="@Url.Action("Create", "Writer")" class="button success"><i class="icon-plus"></i> add new writer</a>
            </div>
         </div>
         
      </fieldset>
   </div>
</div>
<h4>Current Writers:</h4>
<div id="writers">
   @if (Model.Writers.Count > 0) {
      foreach (var writer in Model.Writers) {
          <div class="row" id="writer_@writer.Id">
             <div class="small-2 large-1 columns text-right">
                <a href="javascript:void(0)" onclick="removeWriter(@Model.SubBookId, @writer.Id) " class="button alert tiny" title="Remove">
                   <i class="icon-remove"></i>
                </a>
             </div>
             <div class="small-10 large-11 columns">
                @Html.ActionLink(writer.Name, "Details", "Writer", new {id = writer.Id}, null)
             </div>
          </div>
       }
   }
   else {
     <div class="alert-box info" id="noWriters">No writers have been added to this book.</div>
   }
</div>

<div class="row">
   <div class="small-12 large-12 columns">
      <fieldset>
         <legend>Add Abbreviation</legend>
         <div class="row">
            <div class="large-11 columns">
               <div class="row collapse">
                  <div class="small-10 columns">
                     <input type="text" placeholder="Abbreviation" id="abbreviation" name="abbreviation">
                     <label for="abbreviation">Add multiple by separating with a semi-colon (;)</label>
                  </div>
                  <div class="small-2 columns">
                     <a href="javascript:void(0)" class="button postfix" onclick="addAbbreviation()">Add</a>
                  </div>
               </div>
            </div>
            <div class="large-1 columns">
               <span id="abbrevSaved"><i class="icon-ok-sign" style="color: green"></i></span>
            </div>
         </div>
      </fieldset>
   </div>
</div>
<h4>Current Abbreviations:</h4>
<div id="abbreviations">
   @if (Model.Abbreviations.Count > 0) {
      foreach (var abbreviation in Model.Abbreviations) {
         <div class="row" id="abbrev_@abbreviation.Id">
            <div class="small-2 large-1 columns text-right">
               <a href="javascript:void(0)" onclick="removeAbbreviation(@abbreviation.Id)" class="button alert tiny" title="Remove">
                  <i class="icon-remove"></i>
               </a>
            </div>
            <div class="small-10 large-11 columns">
               @abbreviation.Text
            </div>
         </div>
      }
   } else {
      <div class="alert-box info" id="noAbbreviations">No abbreviations have been added for this book.</div>
   }
</div>

@section scripts {
   <script src="~/Scripts/sdw/sdw.subbook.js"></script>
}
