@model SeekDeepWithin.Models.SubBookViewModel
@{
   ViewBag.Title = "Editing " + Model.Name;
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               <small>editing</small> @(Model.Name) @if (!string.IsNullOrEmpty (Model.Alias)) {<small>@(Model.Alias)</small>}
               <small>for version</small> @(Model.Version.Title)
               <small style="float: right">
                  <a href="@Url.Action("Edit", "Version", new {id=Model.Version.Id}, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to version
                  </a>
               </small>
            </h3>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@Html.AntiForgeryToken()}
<input type="hidden" id="subBookId" name="subBookId" value="@(Model.Id)" />
<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Sub Book Details</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="termList">Term <small style="color: darkred;">(required)</small></label>
                  <input type="text" id="termList" name="termList" value="@(Model.Term.Name)" />
                  <input type="hidden" id="selTermId" name="selTermId" value="@(Model.Term.Id)" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 large-8 columns">
                  <label for="subBookAlias">Alias</label>
                  <input type="text" id="subBookAlias" name="subBookAlias" value="@(Model.Alias)" />
               </div>
               <div class="small-12 medium-6 large-4 columns">
                  <label for="subBookVisi">Visibility</label>
                  <input id="subBookVisi" class="cmn-toggle cmn-toggle-yes-no expand" type="checkbox"@if (!Model.Hide) { <text> checked="checked" </text> }/>
                  <label for="subBookVisi" data-on="Visible" data-off="Hidden"></label>
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 large-6 columns">
                  <a href="javascript:void(0)" class="sdw-button reg expand" onclick="subbook_edit();">
                     <i class="icon-edit"></i> update
                  </a>
               </div>
               <div class="small-12 medium-6 large-6 columns">
                  <a href="@Url.Action("Edit", "Term", new {id=Model.Term.Id}, scheme)" class="sdw-button alt expand">
                     <i class="icon-edit"></i> edit term
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Abbreviations</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <div id="abbreviations">
                     @foreach (var abbreviation in Model.Abbreviations) {
                        <div class="row" id="abbrev_@(abbreviation)">
                           <div class="small-8 medium-9 large-8 columns">
                              @abbreviation
                           </div>
                           <div class="small-4 medium-3 large-2 columns">
                              <a href="javascript:void(0)" class="sdw-button err tiny expand" title="Delete" onclick="subbook_del_abbrev(@(abbreviation))">
                                 <i class="icon-trash"></i>
                              </a>
                           </div>
                        </div>
                     }
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns mTop">
                  <input type="text" placeholder="Add multiple by separating with a semi-colon (;)" id="subBookAbbrev" name="subBookAbbrev">
               </div>
               <div class="row">
                  <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                     <a href="javascript:void(0)" class="sdw-button add expand" onclick="subbook_add_abbrev();">
                        <i class="icon-plus"></i> add
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="small-12 columns">
      <div class="sdw-panel">
         <div class="title">Chapters</div>
         <div class="content">
            @foreach (var chapter in Model.Chapters) {
               <div class="row">
                  <div class="small-12 medium-8 large-10 columns">
                     <a href="@Url.Action("Index", "Read", new {id=chapter.Id}, scheme)" class="sdw-button small white expand tLeft">
                        <span class="mLeft">@(chapter.Name)</span>
                     </a>
                  </div>
                  <div class="small-6 medium-2 large-1 columns">
                     <a href="javascript:void(0)" class="sdw-button err tiny expand" title="Delete">
                        <i class="icon-trash"></i>
                     </a>
                  </div>
                  <div class="small-6 medium-2 large-1 columns">
                     <a href="@Url.Action("Edit", "Chapter", new {id=chapter.Id}, scheme)" class="sdw-button alt tiny expand" title="Edit">
                        <i class="icon-edit"></i>
                     </a>
                  </div>
               </div>
            }
            <div class="sdw-panel mTop">
               <div class="title">Add New Chapters</div>
               <div class="content">
                  <div class="row">
                     <div class="small-12 columns">
                        <p>Place the name of each new chapter on a separate line.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="small-12 columns">
                        <textarea rows="4" id="chapterList"></textarea>
                     </div>
                  </div>
                  <div class="row">
                     <div class="small-12 large-6 columns">
                        <label for="chapterRangeTitle">Create Range | Title</label>
                        <input type="text" id="chapterRangeTitle" value="Chapter " />
                     </div>
                     <div class="small-4 large-2 columns">
                        <label for="chapterRangeStart">Start</label>
                        <input type="number" id="chapterRangeStart" value="1" />
                     </div>
                     <div class="small-4 large-2 columns">
                        <label for="chapterRangeEnd">End</label>
                        <input type="number" id="chapterRangeEnd" />
                     </div>
                     <div class="small-4 large-2 columns">
                        <a href="javascript:void(0)" class="sdw-button alt expand tiny mTop" onclick="subbook_range();">
                           <i class="icon-plus"></i> create
                        </a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="small-12 medium-4 medium-offset-4 large-4 large-offset-4 columns">
                        <a href="javascript:void(0)" class="sdw-button add expand mBottom" onclick="subbook_create_chapters();">
                           <i class="icon-plus"></i> add
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
@Html.Partial("_Modal")
@section scripts {
   @Scripts.Render("~/bundles/sdw.subbook")
}
