@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<ul>
   <li>
      @Html.ActionLink("Authors", "Index", "Author")
      <ul>
         <li>@Html.ActionLink("Add Author", "Create", "Author")</li>
      </ul>
   </li>
   <li>
      @Html.ActionLink("Books", "Index", "Book")
      <ul>
         <li>@Html.ActionLink("Add Book", "Create", "Book")</li>
      </ul>
   </li>
   <li>
      @Html.ActionLink("Glossary", "Index", "Glossary")
      <ul>
         <li>@Html.ActionLink("Add Term", "CreateTerm", "Glossary")</li>
      </ul>
   </li>
   <li>
      @Html.ActionLink("Tags", "Index", "Tag")
      <ul>
         <li>@Html.ActionLink("Add Tag", "Create", "Tag")</li>
      </ul>
   </li>
</ul>
