@model SeekDeepWithin.Pocos.Truth
<div class="row column callout secondary" style="padding: 1rem;" id="et@(Model.Id)">
   <div class="row">
      <div class="small-3 column">
         @if (Model.Light != null) {
            <a id="addE" data-l="@(Model.Light.Id)" class="sdw-button add expand tiny" title="Add to edit lights">Add to Edit</a>
         }
      </div>
      <div class="small-3 column">
         @if (Model.Light != null) {
            <a id="addL" data-l="@(Model.Light.Id)" class="sdw-button add expand tiny" title="Add to link lights">Add to Link</a>
         }
      </div>
      <div class="small-3 column"><a id="del" class="sdw-button err expand tiny" title="Remove">Delete</a></div>
      <div class="small-3 column"><a id="hide" class="sdw-button alt expand tiny" title="Cancel">Close</a></div>
   </div>
   <div class="row mTop">
      <div class="small-4 column">Order</div>
      <div class="small-4 column end">Number</div>
   </div>
   <div class="row">
      <div class="small-4 column"><input type="number" id="order@(Model.Id)" value="@(Model.Order)" /></div>
      <div class="small-4 column"><input type="number" id="number@(Model.Id)" value="@(Model.Number)" /></div>
      <div class="small-4 column"><a id="saveT" class="sdw-button reg expand tiny">Save</a></div>
   </div>
   @if (Model.Light != null) {
      var color = "white";
      <div class="row column">
         <div class="input-group">
            <span class="input-group-label">Alias</span>
            <input class="input-group-field" type="text" id="alias@(Model.Id)" />
            <a id="addA" data-l="@(Model.Light.Id)" class="input-group-button button">Add</a>
         </div>
      </div>
      <div class="row column">
         <div class="input-group">
            <span class="input-group-label">Header</span>
            <input class="input-group-field" type="text" id="header@(Model.Id)" />
            <a id="addH" class="input-group-button button">Add</a>
         </div>
      </div>
      <div class="row column">
         <div class="input-group">
            <span class="input-group-label">Text</span>
            <input type="text" class="input-group-field" id="txtL@(Model.Light.Id)" value="@(Model.Light.Text)" />
            <a id="save" data-l="@(Model.Light.Id)" class="input-group-button button">Save</a>
            <a id="index" data-l="@(Model.Light.Id)" class="input-group-button secondary button">Get Index</a>
         </div>
      </div>
      <div class="row column">
         <div class="input-group">
            <span class="input-group-label">Footer</span><input type="hidden" id="fI@(Model.Id)" />
            <input class="input-group-field" type="text" id="footer@(Model.Id)" />
            <a id="addF" class="input-group-button button">Add</a>
         </div>
      </div>
      <div class="row">
         <div class="small-8 large-4 column">Start Style<input type="text" id="sS@(Model.Id)" /></div>
         <div class="small-4 large-2 column">Index<input type="number" id="sI@(Model.Id)" /></div>
         <div class="small-6 large-4 column">End Style<input type="text" id="sE@(Model.Id)" /></div>
         <div class="small-6 large-2 column">Index
            <div class="input-group">
               <input class="input-group-field" type="number" id="eI@(Model.Id)" />
               <a id="addS" class="input-group-button button">Add Style</a>
            </div>
         </div>
      </div>
      <div class="row column">
         @foreach (var style in Model.Styles) {
            color = color == "white" ? "#C0C0C0" : "white";
            <div class="row" id="style@(style.Id)" style="background-color: @(color); padding: 0.25rem;">
               <div class="small-10 column">@(style.Style.Start) | @(style.Style.End) | {@(style.StartIndex), @(style.EndIndex)}</div>
               <div class="small-2 column">
                  <a id="delS" data-s="@(style.Id)" class="sdw-button err expand tiny" title="Remove">
                     <img src="~/Images/trashw.png" width="16" height="16" alt="Remove" />
                  </a>
               </div>
            </div>
         }
      </div>
   }
</div>