@model SeekDeepWithin.Pocos.Truth
<div class="row column callout secondary" style="padding: 1rem;" id="et@(Model.Id)">
   <div class="row">
      <div class="small-3 column">
         @if (Model.Light != null) {
            <a id="addE" data-l="@(Model.Light.Id)" class="sdw-button add expand tiny" title="Add to edit lights">Add to Edit</a>
         }
      </div>
      <div class="small-3 column">
         @if (Model.Light != null) {
            <a id="addL" data-l="@(Model.Light.Id)" class="sdw-button add expand tiny" title="Add to link lights">Add to Link</a>
         }
      </div>
      <div class="small-3 column"><a id="del" class="sdw-button err expand tiny" title="Remove">Delete</a></div>
      <div class="small-3 column"><a id="hide" class="sdw-button alt expand tiny" title="Cancel">Close</a></div>
   </div>
   <div class="row mTop">
      <div class="small-4 column">Order</div>
      <div class="small-4 column end">Number</div>
   </div>
   <div class="row">
      <div class="small-4 column"><input type="number" id="order@(Model.Id)" value="@(Model.Order)" /></div>
      <div class="small-4 column"><input type="number" id="number@(Model.Id)" value="@(Model.Number)" /></div>
      <div class="small-4 column"><a id="saveT" class="sdw-button reg expand tiny">Save</a></div>
   </div>
   @if (Model.Light != null) {
      <div class="row column">
         <div class="input-group">
            <span class="input-group-label">Link</span>
            <input class="input-group-field" type="text" id="txtLink" />
            <a id="link" data-l="@(Model.Light.Id)" class="input-group-button button">Add</a>
         </div>
      </div>
      <div class="row">
         <div class="small-12 medium-10 large-10 column">
            <textarea id="txtLight" rows="3">@(Model.Light.Text)</textarea>
         </div>
         <div class="small-12 medium-2 large-2 column">
            <a id="saveL" data-l="@(Model.Light.Id)" class="sdw-button reg tiny expand">Save</a>
            <a id="index" data-l="@(Model.Light.Id)" class="sdw-button alt tiny expand">Get Index</a>
         </div>
      </div>
      <div class="row">
         <div class="small-12 medium-10 large-10 column">
            <textarea id="txtHF" rows="3"></textarea>
         </div>
         <div class="small-12 medium-2 large-2 column">
            <a id="addH" class="sdw-button reg tiny expand">Header</a>
            <a id="addF" class="sdw-button alt tiny expand">Footer</a>
         </div>
      </div>
      <div class="row column">
         <a id="btnB" class="sdw-button reg tiny bold italic" title="Bold">B</a>
         <a id="btnI" class="sdw-button reg tiny bold italic" title="Italic">I</a>
         <a id="btnL" class="sdw-button reg tiny bold italic" title="Left Justify">L</a>
         <a id="btnC" class="sdw-button reg tiny bold italic" title="Center Justify">C</a>
         <a id="btnR" class="sdw-button reg tiny bold italic" title="Right Justify">R</a>
         <a id="btnD" class="sdw-button reg tiny bold italic" title="Division">D</a>
         <a id="btnDI" class="sdw-button reg tiny bold italic" title="Italizied Division">DI</a>
         <a id="btnQ" class="sdw-button reg tiny bold italic" title="Blockquote">Q</a>
         <a id="btnS" class="sdw-button reg tiny bold italic" title="Small Text">S</a>
         <a id="btnXS" class="sdw-button reg tiny bold italic" title="Extra Small Text">XS</a>
         <a id="btnOL" class="sdw-button reg tiny bold italic" title="Ordered List">OL</a>
         <a id="btnUL" class="sdw-button reg tiny bold italic" title="Unordered List">UL</a>
         <a id="btnLI" class="sdw-button reg tiny bold italic" title="List Item">LI</a>
      </div>
      <div class="row">
         <div class="small-8 large-4 column">Start Style<input type="text" id="sS@(Model.Id)" /></div>
         <div class="small-4 large-2 column">Index<input type="number" id="sI@(Model.Id)" /></div>
         <div class="small-6 large-4 column">End Style<input type="text" id="sE@(Model.Id)" /></div>
         <div class="small-6 large-2 column">Index
            <div class="input-group">
               <input class="input-group-field" type="number" id="eI@(Model.Id)" />
               <a id="addS" class="input-group-button button">Add Style</a>
            </div>
         </div>
      </div>
      foreach (var style in Model.Styles) {
         <div class="row" id="style@(style.Id)" style="padding: 0.25rem;">
            <div class="small-10 column">@(style.Style.Start) | @(style.Style.End) | {@(style.StartIndex), @(style.EndIndex)}</div>
            <div class="small-2 column">
               <a id="delS" data-s="@(style.Id)" class="sdw-button err expand tiny" title="Remove">
                  <img src="~/Images/trashw.png" width="16" height="16" alt="Remove" />
               </a>
            </div>
         </div>
      }
   }
</div>