@model SeekDeepWithin.Models.SearchResultsViewModel
@if (Model.Results.Count > 0) {
   var totalSpan = 12;
   <div class="panel">
      <h5>@(Model.Title) <small>@(string.Format ("{0} - {1} of {2}", Model.Start, Model.End, Model.TotalHits))</small></h5>
   </div>
   @Html.Raw("<div class=\"row\">")
   foreach (var result in Model.Results) {
      if (totalSpan == 0) {
         @Html.Raw("</div>")
         @Html.Raw("<div class=\"row\">")
         totalSpan = 12;
      }
      var span = 3;
      if (!string.IsNullOrWhiteSpace (result.Description) && result.Description.Length > 300) {
         span = Convert.ToInt32 ((result.Description.Length / 300) + 1) * 3;
         if (span > totalSpan) {
            span = totalSpan;
         }
      }
      <div class="small-12 medium-@(span) large-@(span) columns">
         <div class="sdw-panel">
            <a href="@(result.Url)" class="sdw-button white small expand" style="border-bottom: solid 1px #c7c7c7;">@(Html.Raw (result.Title))</a>
            @if (!string.IsNullOrWhiteSpace (result.Description)) {
               <div class="content">
                  @(Html.Raw(result.Description))
               </div>
            }
         </div>
      </div>
      totalSpan -= span;
   }
   if (totalSpan > 0) {
      <div class="small-12 medium-@(totalSpan) large-@(totalSpan) columns">&nbsp;</div>
   }
   @Html.Raw("</div>")
   if (Model.TotalHits > Model.Results.Count) {
      var startPage = 1;
      var pages = Convert.ToInt32 (Model.TotalHits / 25) + 1;
      var endPage = pages;
      var method = "search_" + Model.SearchType;
      if (pages > 12) {
         if (Model.Query.Page > 6) {
            startPage = Model.Query.Page - 5;
         }
         endPage = Math.Min(pages, startPage + 11);
      }
      <div class="pagination">
         @if (startPage != 1) {
            <a href="javascript:void(0)" class="page" onclick="@(method)(false, @(startPage - 1))">&larr;</a>
         }
         @for (int a = startPage; a <= endPage; a++) {
            if (a == Model.Query.Page) {
               <span class="page active">@(a)</span>
            } else {
               <a href="javascript:void(0)" class="page" onclick="@(method)(false, @(a))">@(a)</a>
            }
         }
         @if (endPage < pages) {
            <a href="javascript:void(0)" class="page" onclick="@(method)(false, @(endPage + 1))">&rarr;</a>
         }
      </div>
   }
} else if (Model.ShowEmpty) {
   <div class="sdw-callout">No @(Model.Title) found matching '@(Model.Query.QDecoded)'</div>
}
