@model SeekDeepWithin.Models.SearchViewModel

@{
   ViewBag.Title = "Search Results";
}

<h3>Search Results for '@Model.Query'</h3>

@if (Request.IsAuthenticated && User.IsInRole ("Administrator")) {
   <div class="row">
      <div class="small-12 columns">
         <h4>Parser Log:</h4>
         <ul>
            @Html.Raw(Model.ParserLog)
         </ul>
      </div>
   </div>
}

<div class="row">
   <div class="large-12 columns">
      @{
         int index = 0;
      }
      @if (Model.Passages.Count == 0) {
         <div class="panel info"><em>No results found!</em></div>
      } else {
         foreach (var result in Model.Passages) {
            if (index == 0) {
               @Html.Raw("<div class=\"row\" data-equalizer>")
            }
            <div class="small-12 medium-6 large-3 columns">
               <ul class="pricing-table" data-equalizer-watch>
                  <li class="description">
                     @{
                        var title = result.VersionName;
                        if (result.SubBookName != "default") {
                           title += " | " + result.SubBookName;
                        }
                        if (result.ChapterName != "default") {
                           title += " | " + result.ChapterName;
                        }
                        title += " | " + result.Number;
                        var anchor = string.Format("#pass_{0}",result.EntryId);
                     }
                     <a href="@Url.Action("Read", "Chapter", new { id = result.ChapterId })@anchor">@title</a>
                  </li>
                  <li class="bullet-item" style="border-bottom: 0">
                     @result.Text
                  </li>
               </ul>
            </div>
            index++;
            if (index == 4) {
               @Html.Raw("</div>")
               index = 0;
            }
         }
         if (index == 1) {
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
         }
         if (index == 2) {
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
         }
         if (index == 3) {
            <div class="small-12 medium-6 large-3 columns">&nbsp;</div>
         }
         if (index != 0) {
            @Html.Raw("</div>");
         }
      }
   </div>
</div>
