@model SeekDeepWithin.Models.BookViewModel

@{
    ViewBag.Title = "Add New Book";
}

<h3>New Book!</h3>

@using (Html.BeginForm ()) {
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>Add Book</legend>
      @if (ViewBag.ErrorMessage != null) {
         <div class="row">
            <div class="small-12 large-12 columns">
               <div class="alert-box alert">@ViewBag.ErrorMessage</div>
            </div>
         </div>
      }

      <div class="row">
         <div class="small-12 large-8 columns">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
         </div>
      </div>

      <div class="row">
         <div class="small-12 large-8 columns">
            @Html.LabelFor(model => model.SubTitle)
            @Html.EditorFor(model => model.SubTitle)
            @Html.ValidationMessageFor(model => model.SubTitle)
         </div>
      </div>
      
      <div class="row">
         <div class="small-12 large-12 columns">
            @Html.LabelFor(model => model.Summary)
            @Html.TextAreaFor(model => model.Summary, 8, 10, null)
            @Html.ValidationMessageFor(model => model.Summary)
         </div>
      </div>

      <input type="submit" value="Create" class="button" /> <a href="@Url.Action("Index")" class="button secondary small">cancel</a>
   </fieldset>
}

@section scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
   