@model SeekDeepWithin.Models.BookViewModel

@{
    ViewBag.Title = Model.Title;
}

<h3>@Model.Title <small>[@Html.ActionLink("edit", "Edit", new { id = Model.Id })]</small></h3>

<fieldset>
   <legend>BookViewModel</legend>

   @*<input type="hidden" value="@Model.Id" id="bookid" />*@
   @Html.HiddenFor(model => model.Id)
   <div class="details-label">
      @Html.DisplayNameFor(model => model.Summary)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Summary)
   </div>
</fieldset>

<div>
   <h3>Versions
   @if (Request.IsAuthenticated) {
      <small>[<a href="#" id="btnAddVersion" title="Add a new Version"><i class="icon-plus"></i></a>]</small>
   }
   </h3>
   @if (Request.IsAuthenticated) {
      <div id="addVersionArea"></div>
   }
   <ul id="versionList">
   @foreach (var version in Model.Versions) {
      <li>
         @Html.ActionLink(version.Name, "Details", "Version", new { id = version.Id }, null)
         @if (version.SubBooks.Count > 0) {
            <ul>
               @foreach (var subBook in version.SubBooks) {
                  <li>
                     @Html.ActionLink(subBook.Name, "Details", "SubBook", new { id = subBook.Id }, null)
                  </li>
                  if (subBook.Chapters.Count > 0) {
                      <ul>
                         @foreach (var chapter in subBook.Chapters) {
                           <li>
                              @Html.ActionLink(chapter.Name, "Details", "Chapter", new { id = chapter.Id }, null)
                           </li>
                         }
                      </ul>
                   }
               }
            </ul>
         }
      </li>
   }
   </ul>
</div>

<p>
   @Html.ActionLink("Back to List", "Index")
</p>
@if (Request.IsAuthenticated) {
   @section scripts {
      @Scripts.Render("~/bundles/bookedit")
   }
}
