@model SeekDeepWithin.Models.BookViewModel
@{
   ViewBag.Title = "Editing " + Model.Title;
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               <small>editing</small> @Model.Title
               <small style="float: right">
                  <a href="@Url.Action("Index", "Term", new {id = Model.Term.Id}, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to term
                  </a>
               </small>
            </h3>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@Html.AntiForgeryToken()}
<input type="hidden" id="bookId" name="bookId" value="@(Model.Id)" />
<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Book Details</div>
         <div class="content">
            <div class="row">
               <div class="small-12 columns">
                  <label for="bookTitle">Title <small style="color: darkred;">(required)</small></label>
                  <input type="text" id="bookTitle" name="bookTitle" value="@(Model.Title)" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  <label for="termList">Term <small style="color: darkred;">(required)</small></label>
                  <input type="text" id="termList" name="termList" value="@(Model.Term.Name)" />
                  <input type="hidden" id="selTermId" name="selTermId" value="@(Model.Term.Id)" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  <label for="bookSubTitle">Sub Title</label>
                  <input type="text" id="bookSubTitle" name="bookSubTitle" value="@(Model.SubTitle)" />
               </div>
            </div>
            <div class="row">
               <div class="small-12 columns">
                  <label for="bookSubTitle">Summary <small style="color: darkred;">(required)</small></label>
                  <textarea id="bookSummary" name="bookSummary" rows="8">@(Model.Summary)</textarea>
               </div>
            </div>
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="javascript:book_edit();" class="sdw-button reg expand">
                     <i class="icon-edit"></i> update
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <div class="sdw-panel">
         <div class="title">Versions</div>
         <div class="content">
            @foreach (var version in Model.Versions) {
               <div class="row">
                  <div class="small-12 medium-6 large-8 columns">@(version.Title)</div>
                  <div class="small-6 medium-3 large-2 columns">
                     <a href="javascript:book_setDefaultVersion(@(version.Id));" class="sdw-button alt icon expand mBottom" title="set this version as default">
                        <i class="icon-certificatealt"></i>
                     </a>
                  </div>
                  <div class="small-6 medium-3 large-2 columns">
                     <a href="@Url.Action("Edit", "Version", new {id=version.Id}, scheme)" class="sdw-button alt icon expand mBottom" title="edit this version">
                        <i class="icon-edit"></i>
                     </a>
                  </div>
               </div>
            }
            <div class="row">
               <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
                  <a href="@Url.Action("Create", "Version", new {bookId=Model.Id, bookTitle=Model.Title}, scheme)" class="sdw-button add expand">
                     <i class="icon-createfile"></i> new version
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
@Html.Partial("_Modal")
@section scripts {
   @Scripts.Render("~/bundles/sdw.book")
}
