@model SeekDeepWithin.Models.BookViewModel

@{
    ViewBag.Title = "Edit " + Model.Title;
}

<h3><small>editing</small> @Model.Title</h3>
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="BookId" name="BookId" value="@Model.Id" />
<div class="row">
   <div class="small-12 large-8 columns">
      @using (Html.BeginForm()) {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)

         <fieldset>
            <legend>Book Details</legend>
       
            <div class="row">
               <div class="small-12 large-8 columns">
                  @Html.LabelFor(model => model.Title)
                  @Html.EditorFor(model => model.Title)
                  @Html.ValidationMessageFor(model => model.Title)
               </div>
            </div>
       
            <div class="row">
               <div class="small-12 large-12 columns">
                  @Html.LabelFor(model => model.Summary)
                  @Html.TextAreaFor(model => model.Summary, 8, 10, null)
                  @Html.ValidationMessageFor(model => model.Summary)
               </div>
            </div>

            <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
         </fieldset>
      }
   </div>
   <div class="small-12 large-4 columns">
      <h5>
         Tags 
         @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
            var returnUrl = Request.Url != null ? Request.Url.ToString () : string.Empty;
            <span style="font-size: small">
               @Html.ActionLink("new tag", "Create", "Tag", new {returnUrl}, null))
            </span>
         }
      </h5>
      @foreach (var tag in Model.Tags) {
         var id = tag.ItemId;
         <div class="row" id="tag_@id">
            <div class="small-8 large-8 columns">
               @Html.ActionLink(tag.Name, "Details", "Tag", new { id = tag.Id }, null)
            </div>
            <div class="small-4 large-4 columns text-center">
               <a href="javascript:void(0);" onclick="RemoveTag(@id, @Model.Id, 'Book');" title="Remove tag">
                  <i class="icon-remove-circle" style="color:red;"></i>
               </a>
            </div>
         </div>
      }
      <div class="row">
         <div class="small-8 large-8 columns">
            @Html.DropDownList("tagId", ViewBag.Tags as SelectList)
         </div>
         <div class="small-4 large-4 columns">
            <button class="button success tiny" onclick="AddTag(@Model.Id, 'Book');">Add</button>
         </div>
      </div>
   </div>
</div>


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
   <script src="~/Scripts/sdw/sdw.tag.js"></script>
}
