@model IEnumerable<SeekDeepWithin.Models.BookViewModel>

@{
   ViewBag.Title = "Read";
}
<h3>
   Read
   @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
      <span style="font-size: small">
         @Html.ActionLink("new book", "Create")
      </span>
   }
</h3>
<div class="row">
   <div class="large-3 small-12 columns">
      <h4>Filters....</h4>
   </div>
   <div class="large-9 columns">
      @{
         int index = 0;
      }
      @foreach (var book in Model) {
         if (index == 0) {
            @Html.Raw("<div class=\"row\" data-equalizer>")
         }
         <div class="large-6 small-12 columns">
            <ul class="pricing-table" data-equalizer-watch>
               <li class="title">
                  @book.Title
                  @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
                     <small>@Html.ActionLink("[edit]", "Edit", "Book", new { id = book.Id }, null)</small>
                  }
               </li>
               <li class="description">
                  @book.Summary
               </li>
               @if (book.Versions.Count == 0) {
                  <li class="bullet-item"><span class="label secondary">No information has been entered for this book!</span></li>
               } else if (book.Versions.Count == 1 && book.Title == book.Versions[0].Title) {
                  var version = book.Versions [0];
                  <li class="bullet-item" style="border-bottom: 0;">
                     @Html.ActionLink("Read", "Read", "Chapter", new{ id = version.DefaultReadChapter }, new { @class = "button small" })
                     @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
                        <small>@Html.ActionLink("[edit]", "Edit", "Version", new { id = version.Id }, null)</small>
                     }
                  </li>
               } else {
                  foreach (var version in book.Versions) {
                     <li class="bullet-item">
                        @Html.ActionLink(version.Title, "Read", "Chapter", new{ id = version.DefaultReadChapter }, null)
                        @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
                           <small>@Html.ActionLink("[edit]", "Edit", "Version", new { id = version.Id }, null)</small>
                        }
                     </li>
                  }
               }
               @if (Request.IsAuthenticated && User.IsInRole ("Creator")) {
                  <li class="bullet-item">
                     <small>
                        @Html.ActionLink("Add Version", "Create", "Version", new { bookId = book.Id }, null)
                     </small>
                  </li>
               }
            </ul>
         </div>
         index++;
         if (index == 2) {
            @Html.Raw("</div>")
            index = 0;
         }
      }
      @if (index != 0) {
         @Html.Raw("</div>");
      }
   </div>
</div>
