@{
    ViewBag.Title = "Assign Role";
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               Assign Role
            </h3>
         </div>
      </div>
   </div>
}

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)
   
   <fieldset>
      <legend>Assign Role</legend>
      <div class="message-success">@ViewBag.ResultMessage</div>
      <p>
         User: @Html.TextBox("userName")
         Role: @Html.DropDownList("roleName", ViewBag.Roles as SelectList)
      </p>

      <input type="submit" value="Save" />
   </fieldset>
}
