@using SeekDeepWithin.Models
@model VersionContents

<div id="contentTree">
   <ul>
      <li data-jstree='{"opened":true, "type":"version"}' id="root">
         @Model.Name
         @if (Model.SubBooks.Count > 0) {
            <ul>
               @foreach (var subBook in Model.SubBooks) {
                  <li data-jstree='{"opened":true, "type":"subbook"}' data-hide="@subBook.Hide.ToString().ToLower()" data-id="@subBook.Id" data-itemId="@subBook.ItemId">
                     @subBook.Name
                     @if (subBook.Chapters.Count > 0) {
                        <ul>
                           @foreach (var chapter in subBook.Chapters) {
                              <li data-jstree='{"type":"chapter"}' data-hide="@chapter.Hide.ToString().ToLower()" data-id="@chapter.Id" data-itemId="@chapter.ItemId">
                                 @chapter.Name
                              </li>
                           }
                        </ul>
                     }
                  </li>
               }
            </ul>
         }
      </li>
   </ul>
</div>