@model SeekDeepWithin.Models.EditStyleViewModel

@{
    ViewBag.Title = "Add Style";
}

<h3>Add Style</h3>

@using (Html.BeginForm ()) {
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   @Html.HiddenFor(model => model.Id)
   <fieldset>
      <legend>Style Details</legend>

      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.StartStyle)
            @Html.EditorFor(model => model.StartStyle)
         </div>
      </div>

      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.LabelFor(model => model.EndStyle)
            @Html.EditorFor(model => model.EndStyle)
         </div>
      </div>

      <div class="row">
         <div class="small-12 large-8 columns">
            @Html.TextArea("text", Model.Text, 7, 80, new { @readonly = "readonly" })
         </div>
      </div>

      <div class="row">
         <div class="small-5 large-3 columns">
            @Html.LabelFor(model => model.StartIndex)
            @Html.EditorFor(model => model.StartIndex)
         </div>
         <div class="small-5 large-3 columns">
            @Html.LabelFor(model => model.EndIndex)
            @Html.EditorFor(model => model.EndIndex)
         </div>
         <div class="small-2 large-6 columns">
         </div>
      </div>

      <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
      
   </fieldset>
}

@section scripts {
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/sdw.addstyle")
}