@model SeekDeepWithin.Models.StyleEditViewModel

@{
   ViewBag.Title = "Edit Styles";
   var totalLength = Model.ItemText.Length;
}
@section styles {
   @Styles.Render("~/Content/css/slider")
}

<h3><small>editing</small> Styles</h3>
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){
   @Html.AntiForgeryToken()
}

<input type="hidden" id="totalLength" name="totalLength" value="@totalLength" />
<input type="hidden" id="itemType" name="itemType" value="@Model.ItemType" />
<input type="hidden" id="itemId" name="itemId" value="@Model.ItemId" />
<input type="hidden" id="editId" name="editId" value="0" />

<div class="row">
   <div class="small-12 columns" id="itemText">
      @{
         var index = 0;
         var lastLetter = ' ';
         var html = string.Empty;
         var word = string.Empty;
      }
      @foreach (var letter in Model.ItemText) {
         if (lastLetter == ' ') {
            word = string.Format ("{0},", index);
            html += "<span onclick=\"select_word(|WORD|)\">";
         } else if (letter == ' ' || !Char.IsLetter(letter) || index == totalLength - 1) {
            word += index;
            html = html.Replace ("|WORD|", word);
            html += "</span>";
         }
         html += string.Format("<span id=\"index_{0}\">{1}</span>", index, letter);
         lastLetter = letter;
         index++;
      }
      @Html.Raw(html)
   </div>
</div>

<div class="row">
   <div class="small-12 columns">
      <div id="textRangeSlider" style="margin-bottom: 1.125rem; margin-top: 1.125rem">
      </div>
   </div>
</div>

<div class="row">
   <div class="small-12 medium-6 large-6 columns">
      <ul class="pricing-table" id="styleList">
         <li class="title">Current Styles</li>
         @foreach (var style in Model.Styles) {
            <li id="listItem_@style.ItemId" class="bullet-item">
               <a href="javascript:void(0)" onclick="style_edit(@style.ItemId)">
                  Start: @style.StartIndex (@style.Start) End: @style.EndIndex (@style.End)
               </a>
            </li>
         }
      </ul>
   </div>
   <div class="small-12 medium-6 large-6 columns">
      <div class="row">
         <div class="small-6 columns">
            <div class="row collapse">
               <div class="small-3 large-2 columns">
                  <span class="prefix">Start</span>
               </div>
               <div class="small-9 large-10 columns">
                  <input type="number" id="startIndex" name="startIndex" value="0" />
               </div>
            </div>
         </div>
         <div class="small-6 columns">
            <div class="row collapse">
               <div class="small-3 large-2 columns">
                  <span class="prefix">End</span>
               </div>
               <div class="small-9 large-10 columns">
                  <input type="number" id="endIndex" name="endIndex" value="0" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <ul class="button-group radius">
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_bold();" title="Bold">
                     <i class="icon-bold"></i>
                  </a>
               </li>
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_italic();" title="Italic">
                     <i class="icon-italic"></i>
                  </a>
               </li>
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_blockQuote();" title="Blockquote">
                     <i class="icon-quote"></i>
                  </a>
               </li>
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_list();" title="List">
                     <i class="icon-dotlist"></i>
                  </a>
               </li>
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_orderedList();" title="Numbered List">
                     <i class="icon-numberlist"></i>
                  </a>
               </li>
               <li>
                  <a href="javascript:void(0);" class="button tiny" onclick="style_listItem();" title="List Item">
                     <i class="icon-radiobutton"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <label for="styleStart">Start Style</label>
            <textarea id="styleStart" name="styleStart" rows="2"></textarea>
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <label for="styleEnd">End Style</label>
            <textarea id="styleEnd" name="styleEnd" rows="2"></textarea>
         </div>
      </div>
      <div class="row" id="rowCreate">
         <div class="small-12 columns">
            <a href="javascript:void(0)" class="button expand" onclick="style_create();">Create <span id="createStyleCheck"><i class="icon-ok-circle"></i></span></a>
         </div>
      </div>
      <div class="row" id="rowUpdate">
         <div class="small-4 columns">
            <a href="javascript:void(0)" class="button success expand" onclick="style_update();">Update <span id="updateStyleCheck"><i class="icon-ok-circle"></i></span></a>
         </div>
         <div class="small-4 columns">
            <a href="javascript:void(0)" class="button alert expand" onclick="style_delete();">Delete</a>
         </div>
         <div class="small-4 columns">
            <a href="javascript:void(0)" class="button secondary expand" onclick="style_new();">Cancel</a>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="small-6 pagination-centered columns">
      <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
         @if (Model.PreviousEntryId != -1) {
            <li class="arrow">
               <a href="@Url.Action("Edit" + Model.ItemType, "Style", new {id = Model.PreviousEntryId, type=Model.ItemType}, Request.Url.Scheme)">&laquo; Previous Item</a>
            </li>
         }
      </ul>
   </div>
   <div class="small-6 pagination-centered columns">
      <ul class="pagination" role="menubar" aria-label="Pagination" style="width: 100%">
         @if (Model.NextEntryId != -1) {
            <li class="arrow">
               <a href="@Url.Action("Edit" + Model.ItemType, "Style", new {id = Model.NextEntryId, type=Model.ItemType}, Request.Url.Scheme)">Next Item &raquo;</a>
            </li>
         }
      </ul>
   </div>
</div>

<div class="row">
   <div class="small-6 medium-3 large-3 columns">
      @if (Model.ItemType == "Passage") {
         <a href="@Url.Action("Edit", "Chapter", new {id = Model.ParentId}, Request.Url.Scheme)" class="button secondary expand" id="btnEditFooters">
            <i class="icon-editalt"></i> Edit Chapter
         </a>
      } else if (Model.ItemType == "Entry") {
         <a href="@Url.Action("Edit", "Glossary", new {id = Model.ParentId}, Request.Url.Scheme)" class="button secondary expand" id="btnEditFooters">
            <i class="icon-editalt"></i> Edit Item
         </a>
      }
   </div>
   <div class="small-6 medium-3 large-3 columns">
      <a href="@Url.Action("Edit" + Model.ItemType, "Link", new {id=Model.ItemId}, Request.Url.Scheme)" class="button secondary expand" id="btnEditStyles">
         <i class="icon-link"></i> Edit Links
      </a>
   </div>
   <div class="small-6 medium-3 large-3 columns">
      <a href="@Url.Action("Edit", "Header", new {id = Model.ItemId, type=Model.ItemType}, Request.Url.Scheme)" class="button secondary expand" id="btnEditHeaders">
         <i class="icon-notificationbottom"></i> Edit Headers
      </a>
   </div>
   <div class="small-6 medium-3 large-3 columns">
      <a href="@Url.Action("Edit", "Footer", new {id = Model.ItemId, type=Model.ItemType}, Request.Url.Scheme)" class="button secondary expand" id="btnEditFooters">
         <i class="icon-notificationtop"></i> Edit Footers
      </a>
   </div>
</div>

<div class="row">
   <div class="small-12 columns">
      <fieldset>
         <legend>Rendered Text</legend>
         <div class="row">
            <div class="small-12 columns" id="renderedText">
               @Html.Raw(Model.RenderedText)
            </div>
         </div>
      </fieldset>
   </div>
</div>

<div class="row">
   <div class="small-12 columns">
      <fieldset>
         <legend>Generated HTML</legend>
         <div class="row">
            <div class="small-12 columns" id="generatedHtml">
               @Model.RenderedText
            </div>
         </div>
      </fieldset>
   </div>
</div>

@section scripts {
   @Scripts.Render("~/bundles/sdw.styleedit")
   <script type="text/javascript">
      $(document).ready(function () {
         select_initRangeSlider(@totalLength);
      });
   </script>
}
