@model SeekDeepWithin.Models.PassageViewModel

@{
   var title = Model.VersionName;
   if (Model.SubBookName != "default") {
      title += " | " + Model.SubBookName;
   }
   if (Model.ChapterName != "default") {
      title += " | " + Model.ChapterName;
   }
   title += " | " + Model.Number;
   ViewBag.Title = "Edit Passage";
}

<h3>Editing @title</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Passage Text</legend>

        @Html.HiddenFor(model => model.Id)
       
       <div class="row">
          <div class="small-12 large-8 columns">
             @Html.TextAreaFor(model => model.Text, 8, 10, null)
             @Html.ValidationMessageFor(model => model.Text)
          </div>
       </div>

        <input type="submit" value="Save" class="button" /> <a href="@TempData["RefUrl"]" class="button secondary small">cancel</a>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
