@model SeekDeepWithin.Models.PassageViewModel

@{
   ViewBag.Title = Model.Title;
   Model.Renderer = new SeekDeepWithin.Controllers.SdwRenderer ();
}
@section featured {
   <div class="panel">
      <h5 class="tCenter">
         <a href="@Url.Action("About", "Version", new { id = @Model.VersionId }, Request.Url.Scheme)">@Model.VersionName</a> |
         @if (Model.SubBookName != Model.VersionName) {
            <a href="@Url.Action("About", "SubBook", new { id = @Model.SubBookId }, Request.Url.Scheme)">@Model.SubBookName</a><span> | </span>
         }
         <a href="@Url.Action("Index", "Read", new {id = @Model.ChapterId}, Request.Url.Scheme)">@Model.ChapterName</a><span>:@Model.Number</span>
      </h5>
   </div>
}
@Html.Partial("_Passage", Model)

