@model SeekDeepWithin.Models.PassageViewModel

@{
   ViewBag.Title = Model.Title;
   Model.Renderer = new SeekDeepWithin.Controllers.SdwRenderer ();
}

<div class="row">
   <div class="small-12 large-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
         <li role="menuitem"><a href="@Url.Action("About", "Version", new { id = @Model.VersionId }, Request.Url.Scheme)">@Model.VersionName</a></li>
         @if (Model.SubBookName != "default") {
            <li role="menuitem"><a href="@Url.Action("About", "SubBook", new { id = @Model.SubBookId }, Request.Url.Scheme)">@Model.SubBookName</a></li>
         }
         @if (Model.ChapterName != "default") {
            <li role="menuitem"><a href="@Url.Action("Read", "Chapter", new {id = @Model.ChapterId}, Request.Url.Scheme)">@Model.ChapterName</a></li>
         }
         <li role="menuitem" class="current"><a href="#">@Model.Number</a></li>
      </ul>
   </div>
</div>
@Html.Partial("_Passage", Model)

